<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
	{include file="common/common_css"}
	<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
	<title>技师详情</title>
</head>

<body>
	<div class="cl pd-20" style=" background-color:#5bacb6">
		<img class="avatar size-XL l" src="{$technician.photo}">
		<dl style="margin-left:80px; color:#fff">
			<dt>
				<span class="f-18">{$technician.name}</span>
				<!--<span class="pl-10 f-12">余额：40</span>-->
			</dt>
			<!--<dd class="pt-10 f-12" style="margin-left:0">这家伙很懒，什么也没有留下</dd>-->
		</dl>
	</div>
	<div class="pd-20">
		<table class="table">
			<tbody>
				<tr>
					<th class="text-r" width="80">性别：</th>
					<td>{if condition="$technician.gender==1"} 男 {elseif condition="$technician.gender==2"/} 女 {else /} 未知 {/if}</td>
				</tr>
				<tr>
					<th class="text-r">工号：</th>
					<td>{$technician.job_number}</td>
				</tr>
				<tr>
					<th class="text-r">手机号：</th>
					<td>{$technician.phone_number}</td>
				</tr>
				<tr>
					<th class="text-r">简介：</th>
					<td>{$technician.description}</td>
				</tr>
				<tr>
					<th class="text-r">生日：</th>
					<td>{$technician.birthday}</td>
				</tr>
				<tr>
					<th class="text-r">评分：</th>
					<td>7</td>
				</tr>
				<tr>
					<th class="text-r">介绍人：</th>
					<td>刘先生</td>
				</tr>
				<tr>
					<th class="text-r">掌握技能：</th>
					{volist name="$skill" id="it"}
					<td>
						{$it}
					</td>
					{/volist}
				</tr>
				<tr>
					<th class="text-r">身份证号：</th>
					<td>{$technician.id_number}</td>
				</tr>
				<tr>
					<th class="text-r">身份证照：</th>
						<td><img class="avatar size-XL l" src="{$technician.idcard_photo}"></td>
						<td><img class="avatar size-XL l" src="{$technician.idcard_photo_2}"></td>
				</tr>
			</tbody>
		</table>
		<video src="{$technician.vcr}" controls="controls" style="margin: 30px auto 20px 50px ">
			your browser does not support the video tag
		</video>
	</div>
	{include file="common/common_script"}

	<!--请在下方写此页面业务相关的脚本-->
</body>

</html>