<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    {include file="common/common_css"}
    <title>设置服务详情</title>
    <style>
        textarea{
            width: 100%;
            /*要拉伸注释掉下一行*/
            resize:none;
        }
        .mt-20{
            margin-top: 0;
        }
    </style>
</head>

<body>
    <div class="page-container">
        <div class="mt-20">
            <form>
                <div class="input-group">
                    <div style="width:150px ; display:inline-block">价格(单位 分):</div>
                    <input type="number" id="price" class="form-control" value="{$service.price}" ></input>
                </div>
                <div class="input-group">
                    <div style="width:150px ; display:inline-block">时长(单位 分钟)</div>
                    <input type="number" id="duration" class="form-control" value="{$service.duration}" ></input>
                </div>
                <div class="input-group">
                    <div style="width:150px ; display:inline-block">佣金(单位 分):</div>
                    <input type="number" value="{$service.invite_income}" placeholder="" id="invite_income" name="invite_income">
                </div>
                <div class="input-group">
                    <div style="width:150px ; display:inline-block">技师提成金额(单位 分):</div>
                    <input type="number" id="commission" class="form-control" value="{$service.commission}" ></input>
                </div>
                <div class="input-group">
                        <div style="width:150px ; display:inline-block">接待提成金额(单位 分):</div>
                        <input type="number" id="commission2" class="form-control" value="{$service.commission2}" ></input>
                </div>
                <div class="input-group">
                    <div style="width:150px ; display:inline-block">是否允许设置等级：</div>
                    {if condition="$service.have_level == 1 "}
                    <input type="radio" name="level" class="form-control"  checked value="1" >是</input>
                    <input type="radio" name="level" class="form-control" value="0" >否</input>
                    {else /}
                    <input type="radio" name="level" class="form-control"  value="1" >是</input>
                    <input type="radio" name="level" class="form-control" checked value="0" >否</input>
                    {/if}
                </div>
                <div class="input-group">
                    <div style="width:150px ; display:inline-block">是否在小程序显示：</div>
                    {if condition="$service.index_show == 1 "}
                    <input type="radio" name="index_show" class="form-control"  checked value="1" >是</input>
                    <input type="radio" name="index_show" class="form-control" value="0" >否</input>
                    {else /}
                    <input type="radio" name="index_show" class="form-control"  value="1" >是</input>
                    <input type="radio" name="index_show" class="form-control" checked value="0" >否</input>
                    {/if}
                </div>
                <div class="input-group">
                    <div style="width:120px ; display:inline-block">服务流程：</div>
                    <textarea id="procedure" class="form-control" rows="3">{$procedure}</textarea>
                </div>
                <div class="input-group">
                    <div style="width:120px ; display:inline-block">注意事项：</div>
                    <textarea id="attention" class="form-control" rows="3">{$attention}</textarea>
                </div>
                <div class="input-group">
                    <div style="width:120px ; display:inline-block">项目特色：</div>
                    <textarea id="benefit" class="form-control" rows="3">{$benefit}</textarea>
                </div>
                <button onclick="update()" type="button" id="btn" style="width: 80px;height: 45px;float: right;margin-top: 10px;font-size:1.1em;background-color: #00b7ee">
                    确定
                </button>
            </form>
        </div>
    </div>

    {include file="common/common_script"}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script>
        function update() {
            var procedure = $("#procedure").val();
            var attention = $("#attention").val();
            var benefit = $("#benefit").val();
            var price = $("#price").val();
            var duration = $("#duration").val();
            var commission = $("#commission").val();
            var commission2 = $("#commission2").val();
            var have_level = $("input:radio[name='level']:checked").val();
            var index_show = $("input:radio[name='index_show']:checked").val();
            var invite_income = $("#invite_income").val();

            $.post("__ROOT__/index.php/api/Servicetype/update_info", {
                id:'{$service_id}',
                procedure: procedure,
                attention: attention,
                benefit: benefit,
                price:price,
                duration:duration,
                commission:commission,
                commission2:commission2,
                have_level:have_level,
                index_show:index_show,
                invite_income:invite_income,
            }).done((res) => {
                if (res.status == 1) {
                    parent.location.reload()
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            })
        }
    </script>