<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>后台主页</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="__STATIC__/vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="__STATIC__/vendor/jigsaw/jigsaw.css" />
    </head>

    <body>
        <div class="col-md-10">
            <p>主页</p>
        </div>
    </body>
</html>