<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="__STATIC__/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="__STATIC__/vendor/jigsaw/jigsaw.css" />
    <style>
        .center {
            margin-top: 15%;
            margin-left: 37.5%;
            margin-right: 37.5%;
        }
    </style>
</head>

<body>
    <div class="col-md-3 column center">
        <div class="row">
            <div class='col-sm-12'>
                <h2 class="text-center">养生会所管理系统</h2>
            </div>
        </div>

        <form class="form-horizontal" role="form">
            <div class="form-group" id="form-username">
                <label for="inputEmail3" class="col-sm-3 control-label ">用户名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" />
                </div>
            </div>
            <div class="form-group" id="form-password">
                <label for="inputPassword3" class="col-sm-3 control-label">密码</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-8">
                    <div id='captcha' style="position: relative;"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="button" class="btn btn-default" id="login-button">登录</button>
                </div>
            </div>
        </form>
    </div>


    <script src="__STATIC__/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/vendor/sweetalert/sweetalert.js"></script>
    <script src="__STATIC__/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="__STATIC__/vendor/jigsaw/jigsaw.js"></script>
    <script src="__STATIC__/js/login.js"></script>
</body>

</html>