<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>后台登录</title>
    <link rel="stylesheet" type="text/css" media="screen" href="__STATIC__/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="__STATIC__/vendor/jigsaw/jigsaw.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/vendor/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/vendor/css/login.css" />
</head>

<body>
    <div class="m-login-bg">
        <div class="m-login">
            <h3>后台系统登录</h3>
            <div class="m-login-warp">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <input type="text" name="username" required lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input" id="username">
                    </div>
                    <div class="layui-form-item">
                        <input type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input" id="password">
                    </div>
                    <div class="layui-form-item">
                    </div>
                    <div class="layui-form-item m-login-btn">
                        <div class="layui-inline">
                            <button class="layui-btn layui-btn-normal" id="login-button" type="button">登录</button>
                        </div>
                        <div class="layui-inline">
                            <button type="reset" class="layui-btn layui-btn-primary" onclick="location.href=location.href">取消</button>
                        </div>
                    </div>
                </form>
            </div>
            <p class="copyright">足浴管理系统后台登录</p>
        </div>
    </div>
    <script src="__STATIC__/vendor/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="__STATIC__/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/vendor/sweetalert/sweetalert.js"></script>
    <script src="__STATIC__/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="__STATIC__/vendor/jigsaw/jigsaw.js"></script>
    <script src="__STATIC__/js/login.js"></script>
</body>

</html>