<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    {include file="common/common_css"}
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>订单列表</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 服务管理
        <span class="c-gray en">&gt;</span> 订单列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="page-container">
        <div class="text-c"> 日期范围：
            <input type="text" onfocus="WdatePicker({})" value="" id="datemin" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({})" value="" id="datemax" class="input-text Wdate" style="width:120px;">
            <button type="submit" class="btn btn-success radius" id="search" name="">
                <i class="Hui-iconfont">&#xe665;</i> 搜记录
            </button>
            <button type="button" onclick="location.reload()" class="btn btn-success radius" id="refresh" name="">
                清空筛选条件
            </button>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">共有数据：
                <strong>{$count}</strong> 条</span>
        </div>
        <div class="mt-20">
            <div class="">
                <label class="form-label col-xs-4 col-sm-1" style="padding-left: 15px;padding-right: 0">订单类型：</label>
                <div class="formControls col-xs-3 col-sm-3">
                    <select name="articletype" class="select" id="down_search">
                        <option value="全部类型">全部类型</option>
                        <option value="订单取消">订单取消</option>
                        <option value="待消费">待消费</option>
                        <option value="服务中">服务中</option>
                        <option value="待支付">待支付</option>
                        <option value="待评价">待评价</option>
                        <option value="评价完成">评价完成</option>
                    </select>
                </div>
            </div>
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="120">订单号</th>
                        <th width="120">订单生成时间</th>
                        <th width="120">预约时间</th>
                        <th width="60">预约人</th>
                        <th width="80">预约人手机号</th>
                       
                        <th width="80">技师编号</th>
                        <th width="40">订单来自</th>
                        <th width="30">上钟类型</th>
						
						<th width="60">包厢号</th>
						<th width="60">接待工号</th>
						
                        <th width="60">上钟下钟</th>
						<th width="60">订单状态</th>
                        <th width="60">备注</th>
                        <!-- <th width="60">付款顾客用户名</th>
                        <th width="80">付款顾客手机号</th> -->
                        <th width="50">付款方式</th>
                        <th width="50">付款金额</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="$order" id="it" key="k"}
                    <p hidden id="state{$k-1}">{if condition="$it.payment_method==1"}微信支付{elseif
                        condition="$it.payment_method==2"}支付宝 {elseif condition="$it.payment_method==3"}会员卡{elseif
                        condition="$it.payment_method==4"}现金 {elseif condition="$it.payment_method==5"}银行卡支付{elseif
                        condition="$it.payment_method==6"}其他{elseif condition="$it.payment_method==7"}美团支付{/if}</p>
                    <tr class="text-c" id="row{$k-1}">
                        <td>{$it.order_id}</td>
                        <td id="time{$k-1}">{$it.generated_time}</td>
                        <td>
                            {if condition="$it.source==0"}
                            {$it.appoint_time}
                            {/if}
                        </td>
                        <td>
                            {$it.username}
                        </td>
                        <td>
                            {$phone[$k-1]}
                        </td>

                        <td>
                            {$tech[$k-1]}
                        </td>
                        <td>
                            {if condition="$it.source == 0"}网络预约{elseif condition="$it.source == 1"}到店消费{/if}
                        </td>
                        <td>{if condition="$it.clock_type == 1"}排钟{elseif condition="$it.clock_type == 2"}点钟{/if}</td>
                       
					   <td>
					   
					  
					   <select name="" id="myroom">
							<option value="" selected>请选择包厢</option>								
								{volist name="$room" id="pp" key="qq"}						
								<option value="{$pp.ID}">{$pp.name}</option>
								{/volist}
						</select>	
					    </td>
						
					   <td>	
						<select name="" id="jiedai">
							<option value="" selected>请选择接待</option>								
							{volist name="$jiedai" id="tt" key="kk"}						
							<option value="{$tt.job_number}">{$tt.job_number}</option>
							{/volist}
						</select>					  
					   </td>
					   
					   <td>
                           <button {if condition="$it.state==1"}onclick="up_clock('{$it.order_id}',this)" value="2"
                                    {elseif condition="$it.state==2"}onclick="down_clock('{$it.order_id}',this)" value="4"
                                    {else}disabled{/if}>
                               {if condition="$it.state==1"}
                                上钟
                                {elseif condition="$it.state==2"}
                                下钟
                                {else}
                                服务结束
                                {/if}
                           </button>
                            <!-- <input onclick="up_clock('{$it.order_id}',this)" name="clock{$k}" type="checkbox" value="2"
                                {if condition="$it.state==2" }checked{/if} {if condition="$it.state==2 or $it.state==4 or $it.state==5"} disabled {/if}/>上钟 
                            <input onclick="down_clock('{$it.order_id}',this)" name="clock{$k}" type="checkbox" value="4" {if condition="$it.state==4 or $it.state==5"
                                }checked{/if} {if condition="$it.state==4 or $it.state==5 or $it.state==1"}  disabled {/if}/>下钟  -->
                        </td> 
						
						<td id="total_state{$k-1}">{if condition="$it.state==0"}订单取消{elseif
                            condition="$it.state==1"}待消费{elseif condition="$it.state==2"}服务中{elseif condition="$it.state==3"}待支付{elseif condition="$it.state==4"}待评价{elseif
                            condition="$it.state==5"}评价完成{/if}
						</td>
						
						
                        <td>{$it.note}</td>
                        
						<!-- <td class="">{$it.payment_user_id}</td>
                        <td class="">{$phone2[$k-1]}</td> -->
                        
						<td class="">{if condition="$it.payment_method==1"}微信支付{elseif
                            condition="$it.payment_method==2"}支付宝 {elseif condition="$it.payment_method==3"}会员卡{elseif
                            condition="$it.payment_method==4"}现金 {elseif condition="$it.payment_method==5"}银行卡支付{elseif
                            condition="$it.payment_method==6"}其他{elseif condition="$it.payment_method==7"}美团支付{/if}</td>
                        <td class="">￥{$it.pay_amount/100}</td>
                        <td class="td-manage">
                            {if condition="$it.state==1"}
                            <button value="{$it.order_id}" onclick="disappointment(this)" id="appointment">取消预约</button>
                            {/if}
                            <button value="{$it.order_id}" onclick="serviceorder(this,'{$k-1}')" id="serviceorder">服务情况</button>
                            <button value="{$it.order_id}" onclick="rate(this)" id="rate">评价情况</button>
                            {if condition="$edit == 1"}
                            <button value="{$it.order_id}" onclick="change_order(this)">修改订单</button>
                            {/if}
                        </td>
                    </tr>
                    {/volist}

                </tbody>
            </table>
        </div>
    </div>
    {include file="common/common_script"}

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        var table = $('.table-sort').DataTable({
            "aaSorting": [
                [1, "desc"]
            ], //默认第几个排序
            "bStateSave": false, //状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {
                    "orderable": false,
                    "aTargets": [0, 2, 3]
                } // 制定列不参与排序
            ]
        });
        table.columns(4).search("").draw();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = $('#datemin').val();
                var max = $("#datemax").val();
                max += " 23:59:59"
                var time = data[1]; // use data for the age column
                if (min == "" || max == "") return true;

                if ((time >= min && time <= max)) {
                    return true;
                }
                return false;
            }
        );
        $(function () {

        });
        function up_clock(order_id,element){
            change_clock(order_id,2,"确认上钟吗？",element);
        }
        function down_clock(order_id,element){
            change_clock(order_id,4,"确认下钟吗？",element);
        }

        function change_clock(order_id,state,text,element) {
            swal({
                title: text,
                allowOutsideClick: false,
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#93c47d',
                cancelButtonColor: '#ca5943',
                confirmButtonText: "是",
                cancelButtonText: "否"
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: '正在处理',
                        text: '',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    });
                    $.post("__ROOT__/index.php/api/Consumedorder/change_clock", {
                        order_id: order_id,
                        state: state
                    }).done((res) => {
                        if (res.status == 1) {
                            swal({
                                title: '成功，正在刷新页面',
                                text: '',
                                allowOutsideClick: false,
                                showConfirmButton: false,
                                showCloseButton: false,
                                onOpen: () => {
                                    swal.showLoading()
                                 }
                            });
                            location.reload();
                        }else{
                            swal({
                                title:"处理失败"
                            })
                        }
                    })
                }
            });


            
        }
        var time_button_click = false;
        var down_click = false;
        /*用户-添加*/
        function member_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        /*用户-查看*/
        function zhidingren(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        $("#down_search").on("change", () => {
            target = $("#down_search").val();
            if (target != "全部类型") table.columns(9).search(target).draw();
            else {
                table.columns(9).search("").draw();
            }

        })
        $("#search").on("click", () => {
            table.draw();
        })

        function change_order(e) {
            order_id = $(e).val();
            url = "__ROOT__/index.php/admin/Consumedorder/change/order_id/" + order_id;
            layer_show('修改订单', url, 1100, 600);
        }

        function disappointment(e) {
            swal({
                title: "确认取消预约吗?",
                allowOutsideClick: false,
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#93c47d',
                cancelButtonColor: '#ca5943',
                confirmButtonText: "是",
                cancelButtonText: "否"
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: '正在处理',
                        text: '',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    });
                    $.post("__ROOT__/index.php/api/Consumedorder/disappointment", {
                        order_id: $(e).val()
                    }).done((result) => {
                        if (result.state == 1) {
                            swal({
                                title: '取消预约成功',
                                text: '',
                            }).then((result) => {
                                location.reload();
                            })
                        }
                    });
                }
            });

        }

        function serviceorder(e, k) {
            swal({
                title: "正在加载",
                allowOutsideClick: false,
                showConfirmButton: false,
                showCloseButton: false,
                onOpen: () => {
                    swal.showLoading()
                }
            });
            $.post("__ROOT__/index.php/api/Serviceorder/get_order", {
                order_id: $(e).val()
            }).done((result) => {
                if (result) {
                    var html_string =
                        `<hr><table class="table">
                                <thead>
                                    <tr bgcolor="#d4d4d4">
                                        <th width="100">项目类型</th>
                                        <th width="60">项目编号</th>
                                        <th width="80">技师工号</th>
                                        <th width="80">包厢号</th>
                                        <th width="60">项目价格</th>
                                    </tr>
                                </thead>
                                <tbody>`;
                    var total_price = 0;
                    for (var i = 0; i < result.length; i++) {
                        var service_type;
                        if (result[i].service_type == 1) service_type = "店内服务";
                        else if (result[i].service_type == 2) service_type = "酒水饮料";
                        else if (result[i].service_type == 3) service_type = "外卖订单";
                        total_price += result[i].price;
                        clr = "#d4d4d4";
                        if (i % 2 == 0) clr = "#ffffff"
                        html_string += `<tr bgcolor="` + clr +
                            `">
                                            <td>` + service_type +
                            `</td>
                                            <td>` + result[i].item_id +
                            `</td>
                                            <td>` + result[i].job_number +
                            `</td>
                                            <td>` + result[i].private_room_number +
                            `</td>
                                            <td>￥` + result[i].price / 100 +
                            `</td>
                                        </tr>`
                    }
                    state = $("#state" + k).html().replace(/^[\t\n\s]$/, '');
                    is_pay = "未支付"
                    if (state != "未支付") is_pay = "已支付";

                    if (clr == "#d4d4d4") clr = "#ffffff";
                    else clr = "#d4d4d4"
                    html_string +=
                        `<tr bgcolor="` + clr +
                        `">
                                        <td>总计</td>
                                        <td></td>
                                        <td></td> 
                                        <td></td> 
                                        <td>￥` +
                        total_price / 100 +
                        `</td>
                                    </tr>
                                    <tr bgcolor="#d4d4d4">
                                        <td>支付状态</td>
                                        <td></td> 
                                        <td></td> 
                                        <td></td>  
                                        <td>` +
                        is_pay +
                        `</td>
                                    </tr>`;
                    if (state != "未支付") html_string +=
                        `
                            <tr>
                                    <td>支付方式</td>
                                        <td></td> 
                                        <td></td> 
                                        <td></td> 
                                        <td>` +
                        state +
                        `</td>
                             </tr>
                            </tbody>
                            </table>
                            <hr><br> `
                    swal({
                        title: "订单号：" + result[0].order_id,
                        html: html_string,
                        allowOutsideClick: false,
                        showConfirmButton: true,
                        showCloseButton: false,
                    })
                } else {
                    swal({
                        title: "失败",
                        text: "未查询到该订单的服务信息",
                        type: "info"
                    });
                }
            });
        }

        function rate(e) {
            swal({
                title: "正在加载",
                allowOutsideClick: false,
                showConfirmButton: false,
                showCloseButton: false,
                onOpen: () => {
                    swal.showLoading()
                }
            });
            $.post("__ROOT__/index.php/api/Rate/get_rate", {
                order_id: $(e).val(),
            }).done((result) => {
                if (result) {
                    var html_string =
                        `<hr><table class="table">
                                <thead>
                                    <tr bgcolor="#a2bce8">
                                        <th>服务编号</th>
                                        <th>评分</th>
                                        <th>客户留言</th>
                                    </tr>
                                </thead>
                                <tbody>`;
                    var total_price = 0;
                    for (var i = 0; i < result.length; i++) {
                        clr = "#d4d4d4";
                        if (i % 2 == 0) clr = "ffffff"
                        html_string += `<tr bgcolor="` + clr +
                            `">
                                            <td>` + result[i].service_id +
                            `</td>
                                            <td>` + result[i].score +
                            `</td>
                                            <td>` + result[i].comment +
                            `</td>
                                        </tr>`
                    }
                    swal({
                        title: "订单号：" + result[0].order_id,
                        html: html_string,
                        allowOutsideClick: false,
                        showConfirmButton: true,
                        showCloseButton: false,
                    })
                } else {
                    swal({
                        title: "未评价",
                        text: "该订单还未评价",
                        type: "info"
                    });
                }
            });
        }


        /***
         /*用户-停用
         function member_stop(obj, id) {
            layer.confirm('确认要停用吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '',
                    dataType: 'json',
                    success: function (data) {
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                        $(obj).remove();
                        layer.msg('已停用!', {icon: 5, time: 1000});
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }

         /*用户-启用
         function member_start(obj, id) {
            layer.confirm('确认要启用吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '',
                    dataType: 'json',
                    success: function (data) {
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                        $(obj).remove();
                        layer.msg('已启用!', {icon: 6, time: 1000});
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }
         ***/

        /*用户-编辑*/
        function member_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }

        /***
         /*密码-修改
         function change_password(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
         ***/

        /*用户-删除*/
        /**
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '',
                    dataType: 'json',
                    success: function (data) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 1000});
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }
        */
    </script>
</body>

</html>