<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    {include file="common/common_css"}
    <style>
        * {
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }

        .theinput {
            list-style: none;
            outline: none;
            border: 1px solid #eee;
            width: 200px;
            height: 30px;
            line-height: 30px;
        }

        .thebut {
        }
    </style>
    <title>订单修改</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 服务管理
        <span class="c-gray en">&gt;</span> 订单列表
        <span class="c-gray en">&gt;</span> 订单修改
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div id="step1" style="margin-top: 25px;margin-bottom: 5px;margin-left:30%;padding-left: 10px">
        <div style="width:90px ; display:inline-block">订单号:</div>
        <input style="margin-bottom: 10px" type="text" id="order_id" class="theinput" value="{$order['order_id']}"><br>
        <div style="width:90px ; display:inline-block">订单状态:</div>
        <select class="theinput" name="" id="state">
                <option value="0"{if condition="$order['state'] == 0"}selected{/if} >订单取消</option>
                <option value="3"{if condition="$order['state'] == 3"}selected{/if}>待付款</option>
                <option value="1"{if condition="$order['state'] == 1"}selected{/if}>待消费</option>
                <option value="2"{if condition="$order['state'] == 2"}selected{/if}>服务中</option>
                <option value="4"{if condition="$order['state'] == 4"}selected{/if}>待评价</option>
                <option value="5"{if condition="$order['state'] == 5"}selected{/if}>评价完成</option>
        </select><br>
        <div style="width:90px ; display:inline-block">订单来自:</div>
        <select class="theinput" name="" id="source">
                <option value="0"{if condition="$order['source'] == 0"}selected{/if} >网络预约</option>
                <option value="1"{if condition="$order['source'] == 1"}selected{/if}>到店消费</option>
        </select><br>
        <div style="width:90px ; display:inline-block">支付方式:</div>
        <select class="theinput" name="" id="pay_method">
                <option value="1"{if condition="$order['payment_method'] == 1"}selected{/if} >微信支付</option>
                <option value="2"{if condition="$order['payment_method'] == 2"}selected{/if}>支付宝</option>
                <option value="4"{if condition="$order['payment_method'] == 4"}selected{/if}>现金支付</option>
                <option value="5"{if condition="$order['payment_method'] == 5"}selected{/if}>银行卡支付</option>
                <option value="6"{if condition="$order['payment_method'] == 6"}selected{/if}>其他</option>
                <option value="7"{if condition="$order['payment_method'] == 7"}selected{/if}>美团支付</option>
        </select><br>
        <div style="width:90px ; display:inline-block">支付金额(元):</div>
        <input style="margin-bottom: 10px" type="text" id="cash" class="theinput" value="{$order['pay_amount']}"><br>
        <div style="width:90px ; display:inline-block">上钟时间:</div>
        <input type="text" id="appoint_time" value="{$order['appoint_time']}" class="theinput" ><br>
        <div style="width:90px ; display:inline-block">服务情况:</div>
        {volist name="$service_orders" id="it" key="j"}
        <span>技师:</span>
        <select name="" {if condition="$j==1"}id="positionZero"{/if} onchange="link(this)" >
                <option value="{$it['job_number']}" selected>{$it['job_number']}</option>
                {volist name="$technicians" id="tc" key="k"}
                <option value="{$tc.job_number}">{$tc.job_number}</option>
                {/volist}
        </select>
        <span>服务:</span>
        <select name="" id="tech">
            {volist name="$it['skill']" id="sk" key="l"}
            <option value="{$sk['service_id']}" {if condition="$it['item_id']==$sk['service_id']"}selected{/if}>{$sk['name']}</option>
            {/volist}
        </select>
        <span>上钟类型</span>
        <select name="" id="tech">
                <option value="1" {if condition="$it['clock_type']==1"}selected{/if}>排钟</option>
                <option value="2" {if condition="$it['clock_type']==2"}selected{/if}>点钟</option>
        </select>
        <span>包厢</span>
        <select>
            {volist name="$room" id="rm" key='m'}
            <option value="{$rm.ID},{$rm.name}">{$rm.name}</option>
            {/volist}
        </select>
        <br>
        <div style="width:90px ; display:inline-block"></div>
        {/volist}

        <br>
        <div style="width:90px ; display:inline-block">备注:</div>
        <input style="margin-bottom: 10px"  type="text" id="note" class="theinput" value="{$order['note']}"><br>

        <div style="width:90px ; display:inline-block"></div>
        <button onclick="done()" class="btn btn-primary" id="modify" style="margin-top: 6px;width: 90px">订单修改
        </button>
    </div>
    {include file="common/common_script"}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        function link(e){
            //e是技师下拉框，两个next后是服务下拉框
            service = $(e).next().next();
            $("#modify").attr('disabled', true);
            var choosen = $(e).val();
            $.post('__ROOT__/index.php/api/Skill/get_skill', {
                job_number: choosen
            }).done((res) => {
                $(service).empty()
                for (var i = 0; i < res.length; i++) {
                    $(service).append("<option value ='" + res[i]['service_id'] + ',' + res[i]['name'] + ',' +
                        res[i]['price'] + "'>" + res[i]['name'] + "</option>")
                }
                $("#modify").attr('disabled', false);
            })
        }
        function done() {
            phone = $('#phone').val()
            info = [];
            if (phone == "") {
                swal({
                    title: "",
                    text: "手机号不能为空"
                })
                return;
            }
            if ($('#order_id').val() == "") {
                swal({
                    title: "",
                    text: "订单号不能为空"
                })
                return;
            }
            if ( $("#cash").val() == "" ) {
                swal({
                    title: "",
                    text: "金额不能为空"
                })
                return;
            }
            if ($('#appoint_time').val() == "") {
                swal({
                    title: "",
                    text: "上钟时间不能为空"
                })
                return;
            }
            if ($('#num').val() == "") {
                swal({
                    title: "",
                    text: "顾客数量不能为空"
                })
                return;
            }
            tech = $('#positionZero');
            for(i=0;i<{$service_num};i++){
                var service = tech.next().next();
                var clock = service.next().next();
                var room = clock.next().next();

                var job_number = tech.val()
                var service_data = service.val();
                var clock_data = clock.val();
                var room_data = room.val();

                service_data = service_data.split(',')
                room_data = room_data.split(',')

                data = {
                    'job_number': job_number,
                    'service_id': service_data[0],
                    'clock':clock_data,
                    'room_number':room_data[0]
                }
                info.push(data);
                tech = room.next().next().next().next();
            }
            total_price = $('#cash').val();
            $.post("__ROOT__/index.php/api/Consumedorder/update_order", {
                order_id: $('#order_id').val(),
                info:info,
                state: $('#state option:selected').val(),
                pay_method: $('#pay_method option:selected').val(),
                cash: $('#cash').val(),
                appoint_time: $('#appoint_time').val(),
                note:$('#note').val(),
                source:$('#source').val()
            }).done((res) => {
                if (res.status == 1) {
                    swal({
                        title: "订单修改成功",
                        type: "success"
                    })
                    parent.location.reload()
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            })
        }
    </script>
</body>

</html>