<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5shiv.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
    {include file="common/common_css"}
    <!--[if IE 6]>
	<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
    <title>项目列表</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 技师管理
        <span class="c-gray en">&gt;</span> 业绩查询
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="page-container">
        <div class="text-c"> 日期范围：
            <input type="text" onfocus="WdatePicker({})" value="" id="datemin" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({})" value="" id="datemax" class="input-text Wdate" style="width:120px;">
            <button type="button" class="btn btn-success radius" id="search" name="">
                <i class="Hui-iconfont">&#xe665;</i> 搜记录
            </button>
            <button type="button" onclick="location.reload()" class="btn btn-success radius" id="refresh" name="">
                清空筛选条件
            </button>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">
                共有数据：<strong>{$count}</strong>
                条
            </span>
            <span>时间范围：{$begin} - {$end}</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
					
						<th width="60">姓名</th>
                        <th width="60">工号</th>
                        
                        <th width="60">点钟数量</th>
						<th width="60">点钟提成</th>
						<th width="60">排钟数量</th>
                        <th width="60">排钟提成</th>
						<th width="40">充卡</th>
						<th width="40">充卡提成</th>
                       
                        <th width="60">业绩</th>
                        <th width="60">佣金</th>
						
						
						<th width="40">打赏</th>
						
                        <th width="60">总收入</th>
                        <th width="60" >明细</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="$yeji" id="it"}
                    <tr class="text-c">
						<td>{$it.name}</td>
                        <td>{$it.job_number}</td>
                        
                        <td>{$it.dian}</td>
						<td>￥{$it.dian_earn}</td>
						<td>{$it.pai}</td>
                        <td>￥{$it.pai_earn}</td>
                        
						<td>{$it.recharge}</td>
						<td>{$it.recharge_ticheng}</td>
						
                        <td>￥{$it.yeji}</td>
                        <td>￥{$it.come_from_other}</td>
						
						<td></td>
						
                        <td>￥{$it.final_salary}</td>
                        <td>
                            <!--<button type="btn btn-primary" onclick="detail('{$it.job_number}','{begin}','{end}')">明细</button>-->
							
							<button type="button" class="btn btn-success radius" id="search" name="" onclick="showdetail('{$it.job_number}','{$begin}','{$end}')">
								<i class="Hui-iconfont">&#xe665;</i> 明细
							</button>							
							
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
    {include file="common/common_script"}

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.table-sort').dataTable({
                "aaSorting": [
                    [1, "desc"]
                ], //默认第几个排序
                "bStateSave": false, //状态保存
                "aoColumnDefs": [
                    //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                    {
                        "orderable": false,
                        "aTargets": [0, 1, 4]
                    } // 制定列不参与排序
                ]
            });
        });

        /*用户-添加*/
        function member_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        /*用户-查看*/
        function zhidingren(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        function showdetail(job_number,begin,end){
            
			console.log(job_number);
			console.log(begin);
			console.log(end);
			
			url = "__ROOT__/index.php/admin/Yeji/yejidetail/edit/{$edit}/job_number/"+job_number+"/begin/"+begin+"/end/"+end
            
			layer_show("业绩详情", url, 1200, 600);
			
            //layer_show()
        }
        /*用户-编辑*/
        function member_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }


        $("#search").on("click", () => {
            if ($("#datemin").val() == "" || $("#datemax").val() == "") {
                swal({
                    title: "请填写完整的时间段"
                })
                return;
            }

            begin = $("#datemin").val();
            end = $("#datemax").val();
            swal({
                title: "搜索中...",
                allowOutsideClick: false,
                showConfirmButton: false,
                showCloseButton: false,
                onOpen: () => {
                    swal.showLoading()
                },
            })
            window.location.href = "/wechat_zu_admin/public/index.php/admin/Yeji/index/edit/{$edit}/first_day/" +
                begin + "/last_day/" + end
        })
    </script>
</body>

</html>