<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    {include file="common/common_css"}
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>用户管理</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 客户管理
        <span class="c-gray en">&gt;</span> 会员列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
            </span>
            <span class="r">共有数据：
                <strong>{$count}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th>用户名</th>
                        <th>微信名</th>
                        <th>性别</th>
                        <th>手机</th>
                        <th>VIP等级</th>
                        <th>充值总额</th>
                        <th>账户余额</th>
                        <th>注册时间</th>
                        <th>客户账单</th>
                        {if condition="$edit == 1"}
                        <th>操作</th>
                        {/if}
                    </tr>
                </thead>
                <tbody>
                    {volist name="$customer" id="it" key="k"}
                    <tr class="text-c">
                        <td>{$it.spoke_name}</td>
                        <td>{$it.name}</td>
                        <td>{if condition="$it.gender==1"}男{elseif condition="$it.gender==2"}女{else /}未知{/if}</td>
                        <td>{$it.phone_number}</td>
                        <td>{$it.level}</td>
                        <td>
                            ￥{$it.charge}
                        </td>
                        <td>￥{$it.cash}</td>
                        <td>{$it.registration_date}</td>
                        <td>
                            <a class="ml-5 btn btn-warning" onclick="recharge_detail('{$it.user_id}')">账单</a>
                        </td>
                        
                        <td class="td-manage">
                            <a title="录入信息" href="javascript:;" onclick="addinfo('{$it.user_id}',800,600)" class="ml-5 btn btn-primary"
                                style="text-decoration:none">
                                录入信息
                            </a>
                            {if condition="$edit == 1"}
                            <a title="线下支付" href="javascript:;" onclick="pay('{$it.user_id}')" class="ml-5 btn btn-success"
                                style="text-decoration:none">
                                支付线下订单
                            </a>
                            <a title="删除" href="javascript:;" onclick="member_del(this,'{$it.user_id}')" class="ml-5 btn btn-danger"
                                style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6e2;</i>
                            </a>
                            {/if}
                        </td>

                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
    {include file="common/common_script"}

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        var table = $('.table-sort').DataTable({
            "aaSorting": [
                [6, "desc"]
            ], //默认第几个排序
            "bStateSave": false, //状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {
                    "orderable": false,
                    "aTargets": [5]
                } // 制定列不参与排序
            ]
        });

        $(function () {

        });

        /*用户-添加*/
        function member_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        /*用户-查看*/
        function member_show(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }

        /*用户-添加*/
        function member_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
        function addinfo(openid,w,h){
            layer_show("录入信息","__ROOT__/index.php/admin/Customer/addinfo/openid/"+openid,w,h)
        }

        function pay(openid) {
            swal({
                title: '请输入订单号',
                input: 'text',
                allowOutsideClick: false,
                showCancelButton: true,
                confirmButtonColor: '#93c47d',
                cancelButtonColor: '#ca5943',
                confirmButtonText: "确认",
                cancelButtonText: "取消",
            }).then((res) => {
                if (res.value) {
                    swal({
                        title: '正在处理',
                        text: '',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    });
                    $.post("__ROOT__/index.php/api/Consumedorder/get_payamount", {
                        order_id: res.value,
                    }).done((result) => {
                        if (result.status == 1) {
                            swal({
                                title: '将支付' + result.payamount + '元,请确认支付',
                                allowOutsideClick: false,
                                showCancelButton: true,
                                confirmButtonColor: '#93c47d',
                                cancelButtonColor: '#ca5943',
                                confirmButtonText: "确认",
                                cancelButtonText: "取消",
                            }).then((res2) => {
                                if (res2.value) {
                                    swal({
                                        title: '正在处理',
                                        text: '',
                                        allowOutsideClick: false,
                                        showConfirmButton: false,
                                        showCloseButton: false,
                                        onOpen: () => {
                                            swal.showLoading()
                                        }
                                    });
                                    $.post("__ROOT__/index.php/api/Consumedorder/pay_order", {
                                        order_id: res.value,
                                        open_id: openid,
                                    }).done((res3) => {
                                        if (result.status == 0) {
                                            swal({
                                                title: "不存在该订单号"
                                            });
                                        } else if (result.status == -1) {
                                            swal({
                                                title: "会员卡内余额不足"
                                            });
                                        }else if (result.status == 1) {
                                            swal({
                                                title: "支付成功",
                                                type:"success"
                                            }).then((res4)=>{
                                                if(res4.value){
                                                    location.reload();
                                                }
                                            });
                                        }
                                    })
                                }
                            })

                        } else if (result.status == 0) {
                            swal({
                                title: "不存在该订单号"
                            });
                        }
                    })
                }
            })
        }

        /*用户-删除*/
        function member_del(obj, id) {
            swal({
                title: '确认删除该客户吗？',
                text: '',
                type: 'question',
                allowOutsideClick: false,
                showCancelButton: true,
                confirmButtonColor: '#93c47d',
                cancelButtonColor: '#ca5943',
                confirmButtonText: "确认",
                cancelButtonText: "取消",
                width: 70,
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: '正在处理',
                        text: '',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    }).then((result) => {});
                    $.post("__ROOT__/index.php/api/Customer/delete_customer", {
                        id: [id]
                    }).done(function (result) {
                        if (result.status == 1) {
                            $(obj).parents("tr").remove();
                            swal("完成", "已删除项目", "success").then((ok) => {
                                if (ok.value) location.reload();
                            })
                        }
                    })
                }
            })
        }
    
        function recharge_detail(openid){
            url = "__ROOT__/index.php/admin/Rechargerecord/bill/edit/{$edit}/openid/"+openid
            layer_show("账单查看", url, 1200, 600);
        }
    </script>
</body>

</html>