<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="/favicon.ico">
	<link rel="Shortcut Icon" href="/favicon.ico" />
	<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
	{include file="common/common_css"}
	<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
	<!--/meta 作为公共模版分离出去-->

	<title>添加用户 - H-ui.admin v3.1</title>
</head>

<body>
	<article class="page-container">
		<form action="" method="post" class="form form-horizontal" id="form-member-add">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>姓名：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$technician.name}" placeholder="" id="username" name="username">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>性别：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<div class="radio-box">
						{if condition="$technician.gender=='1'"}
						<input name="sex" type="radio" id="sex-1" checked value="1"> {else /}
						<input name="sex" type="radio" id="sex-1" value="1"> {/if}
						<label for="sex-1">男</label>
					</div>
					<div class="radio-box">
						{if condition="$technician.gender=='2'"}
						<input name="sex" type="radio" id="sex-1" checked value="2"> {else /}
						<input name="sex" type="radio" id="sex-1" value="2"> {/if}
						<label for="sex-2">女</label>
					</div>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>手机号：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$technician.phone_number}" placeholder="" id="mobile" name="mobile">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>身份证号：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$technician.id_number}" placeholder="" id="id_number" name="id_number">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>技师等级：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$technician.level}" placeholder="" id="level" name="level">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>生日：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" onfocus="WdatePicker({})" class="input-text" value="{$technician.birthday}" placeholder="" id="birthday"
					    name="birthday">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>服务类型：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					{volist name = "$servicelist" id = "it" key="k"}
					<div class="radio-box">
						{volist name = "$skill_serveid" id = "skill_id" key="ink"} 
							{if condition="$skill_id==$it.id"}
							<input name="servicetype" type="checkbox" id="type-{$it.id}" checked value="{$it.id}"> 
							{/if}
						{/volist}
						<input name="servicetype" type="checkbox" id="type-{$it.id}" value="{$it.id}"> 
						<label for="type-{$k}">{$it.name}</label>
					</div>
					{/volist}
				</div>
			</div>
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input id="submit-btn" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
			</div>
		</form>
	</article>

	{include file="common/common_script"}

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">
		function testid(id) {
            // 1 "验证通过!", 0 //校验不通过 // id为身份证号码
            var format =
                /^(([1][1-5])|([2][1-3])|([3][1-7])|([4][1-6])|([5][0-4])|([6][1-5])|([7][1])|([8][1-2]))\d{4}(([1][9]\d{2})|([2]\d{3}))(([0][1-9])|([1][0-2]))(([0][1-9])|([1-2][0-9])|([3][0-1]))\d{3}[0-9xX]$/;
            //号码规则校验
            if (!format.test(id)) {
                return false;
            }
            //区位码校验
            //出生年月日校验  前正则限制起始年份为1900;
            var year = id.substr(6, 4), //身份证年
                month = id.substr(10, 2), //身份证月
                date = id.substr(12, 2), //身份证日
                time = Date.parse(month + '-' + date + '-' + year), //身份证日期时间戳date
                now_time = Date.parse(new Date()), //当前时间戳
                dates = (new Date(year, month, 0)).getDate(); //身份证当月天数
            if (time > now_time || date > dates) {
                return false
            }
            //校验码判断
            var c = new Array(7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2); //系数
            var b = new Array('1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2'); //校验码对照表
            var id_array = id.split("");
            var sum = 0;
            for (var k = 0; k < 17; k++) {
                sum += parseInt(id_array[k]) * parseInt(c[k]);
            }
            if (id_array[17].toUpperCase() != b[sum % 11].toUpperCase()) {
               return false
            }
            return true;
        }

		function dateToString(date) {
			if (date instanceof Date) {
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				month = month < 10 ? '0' + month : month;
				var day = date.getDate();
				day = day < 10 ? '0' + day : day;
				return year + month + day;
			}
			return '';
		}

		function isDate(date) {
			var isDate = /^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/;
			if (isDate.test(date)) return true;
			else return false;
		}
		jQuery.validator.addMethod("testid",
			function (value, element) {
				return this.optional(element) || (isIdCard(value));
			},
			"身份证号非法！");
		jQuery.validator.addMethod("isDate",
			function (value, element) {
				return this.optional(element) || (isDate(value));
			},
			"日期格式错误！");

		(function ($) {
			$.getUrlParam = function (name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
				var r = window.location.search.substr(1).match(reg);
				if (r != null) return unescape(r[2]);
				return null;
			}
		})(jQuery);
		$(function () {
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});

			$("#form-member-add").validate({
				rules: {
					username: {
						required: true,
						minlength: 2,
						maxlength: 16,
						remote: {
							type: "post",
							url: "__ROOT__/index.php/api/Technician/check_name",
							data: {
								name: function () {
									return $("#username").val();
								},
								ori_number: '{$technician.job_number}'
							}
						}
					},
					id_number: {
						required: true,
						isIdCard: true,
						remote: {
							type: "post",
							url: "__ROOT__/index.php/api/Technician/check_idnumber",
							data: {
								num: function () {
									return $("#id_number").val();
								},
								ori_number: '{$technician.job_number}'
							}
						},
					},
					job_number: {
						required: true,
						remote: {
							type: "post",
							url: "__ROOT__/index.php/api/Technician/check_job_number",
							data: {
								num: function () {
									return $("#job_number").val();
								},
								ori_number: '{$technician.job_number}'
							}
						}
					},
					level:{
						required:true,
					},
					birthday: {
						required: true,
						isDate: true,
					},
					sex: {
						required: true,
					},
					mobile: {
						required: true,
						isMobile: true,
						remote: {
							type: "post",
							url: "__ROOT__/index.php/api/Technician/check_phone_number",
							data: {
								num: function () {
									return $("#mobile").val();
								},
								ori_number: '{$technician.job_number}'
							}
						}
					},
					email: {
						required: true,
						email: true,
					},
					uploadfile: {
						required: true,
					},

				},
				messages: {
					username: {
						remote: "名字重复，请加以区分"
					},
					id_number: {
						remote: "身份证号已存在"
					},
					job_number: {
						remote: "工号已存在"
					},
					mobile: {
						remote: "手机号已存在"
					}
				},
				onkeyup: false,
				focusCleanup: true,
				success: "valid",
				submitHandler: function (form) {
					swal({
						title: '正在处理',
						text: '',
						allowOutsideClick: false,
						showConfirmButton: false,
						showCloseButton: false,
						onOpen: () => {
							swal.showLoading()
						}
					}).then((result) => {});
					name = $("#username").val();
					gender = $("input:radio[name = 'sex']:checked").val();
					idcard = $("#id_number").val();
					birthday = $("#birthday").val();
					phone = $("#mobile").val();
					//job_number = $("#job_number").val();
					ori_job_number = '{$technician.job_number}';
					service_id = [];
					service_type = $('input:checkbox[name="servicetype"]:checked')
					level = $('#level').val();
					$.each(service_type, function () {
						service_id.push($(this).val());
					})
					$(form).ajaxSubmit({
						type: 'post', // 提交方式 get/post
						url: '__ROOT__/index.php/api/Technician/update_technician', // 需要提交的 url
						data: {
							ori_job_number: ori_job_number,
							name: name,
							idcard: idcard,
							birthday: birthday,
							gender: gender,
							mobile: phone,
							job_number: '{$technician.job_number}',
							skill: service_id,
							level:level,
						},
						success: function (result) {
							if (result.status == 1) {
								swal("成功", "已修改技师详情", "success", {
									allowOutsideClick: false
								}).then((ok) => {
									if (ok.value) {
										parent.location.reload()
										var index = parent.layer.getFrameIndex(
											window.name);
										parent.layer.close(index);
									}
								})
							} else if (result.status == 0) {
								swal("失败", "已存在相同手机号的技师", "error");
							} else if (result.status == -1) {
								swal("失败", "已存在相同工号的技师", "error");
							} else if (result.status == -2) {
								swal("失败", "存在相同的技师名，请加标注以区分", "error");
							} else if (result.status == -3) {
								swal("失败", "已存在相同的身份证号", "error");
							} else if (result.status == -4) {
								swal("失败", "未指定技师的技能", "error");
							}
						}
					});
				}
			});
		});
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>