<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="/favicon.ico">
	<link rel="Shortcut Icon" href="/favicon.ico" />
	<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
{include file="common/common_css"}
	<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
	<!--/meta 作为公共模版分离出去-->

	<title>添加用户 - H-ui.admin v3.1</title>
</head>

<body>
	<article class="page-container">
		<form action="" method="post" class="form form-horizontal" id="form-member-add">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>姓名：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$technician.name}" placeholder="" id="username" name="username">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>性别：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<div class="radio-box">
						{if condition="$technician.gender=='1'"}
						<input name="sex" type="radio" id="sex-1" checked value="1">
						{else /}
						<input name="sex" type="radio" id="sex-1" value="1">
						{/if}
						<label for="sex-1">男</label>
					</div>
					<div class="radio-box">
							{if condition="$technician.gender=='2'"}
							<input name="sex" type="radio" id="sex-1" checked value="2">
							{else /}
							<input name="sex" type="radio" id="sex-1" value="2">
							{/if}
						<label for="sex-2">女</label>
					</div>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>手机号：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$technician.phone_number}" placeholder="" id="mobile" name="mobile">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>工号：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$technician.job_number}" placeholder="" id="job_number" name="job_number">
				</div>
			</div>
			<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red">*</span>服务类型：</label>
					<div class="formControls col-xs-8 col-sm-9 skin-minimal">
						{volist name = "$servicelist" id = "it" key="k"}
						<div class="radio-box">
							{volist name = "$skill_serveid" id = "skill_id" key="ink"}
							{if condition="$skill_id==$it.id"}
							<input name="servicetype" type="checkbox" id="type-{$it.id}" value="{$it.id}">
							{elseif condition="$ink==count($skill_serveid)"}
							<input name="servicetype" type="checkbox" id="type-{$it.id}" checked value="{$it.id}">
							{/if}
							{/volist}

							<label for="type-{$k}">{$it.name}</label>
						</div>
						{/volist}
					</div>
			</div>
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input id="submit-btn" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
			</div>
		</form>
	</article>

    {include file="common/common_script"}

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">
		(function ($) {
			$.getUrlParam = function (name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
				var r = window.location.search.substr(1).match(reg);
				if (r != null) return unescape(r[2]);
				return null;
			}
		})(jQuery);
		$(function () {
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});

			$("#form-member-add").validate({
				rules: {
					username: {
						required: true,
						minlength: 2,
						maxlength: 16
					},
					sex: {
						required: true,
					},
					mobile: {
						required: true,
						isMobile: true,
					},
					email: {
						required: true,
						email: true,
					},
					uploadfile: {
						required: true,
					},

				},
				onkeyup: false,
				focusCleanup: true,
				success: "valid",
				submitHandler: function (form) {
					swal({
                        title: '正在处理',
                        text: '',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    }).then((result) => {});
					name = $("#username").val();
					gender = $("input:radio[name = 'sex']:checked").val();
					phone = $("#mobile").val();
					job_number = $("#job_number").val();
					ori_job_number = '{$technician.job_number}';
					service_id = [];
                    service_type = $('input:checkbox[name="servicetype"]:checked')
                    $.each(service_type,function(){
                        service_id.push($(this).val());
                    })
					$(form).ajaxSubmit({
						type: 'post', // 提交方式 get/post
						url: '/wechat_zu_admin/public/index.php/api/Technician/update_technician', // 需要提交的 url
						data: {
							ori_job_number:ori_job_number,
                			name:name,
                			gender:gender,
                			mobile:phone,
                			job_number:job_number,
							skill:service_id,
						},
						success: function (result) {
							if (result.status == 1) {
								swal("成功", "已修改技师详情", "success",{allowOutsideClick: false}).then((ok) => {
                                    if (ok.value) {
                                        parent.location.reload()
                                        var index = parent.layer.getFrameIndex(
                                            window.name);
                                        parent.layer.close(index);
                                    }
                                })
							}else if(result.status == 0){
								swal("失败","已存在相同手机号的技师","error");
							}else if(result.status == -1){
								swal("失败","已存在相同工号的技师","error");
							}
						}
					});
				}
			});
		});
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>