<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" /> {include file="common/common_css"}
    <!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->

    <!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>添加用户 - H-ui.admin v3.1</title>
</head>

<body>
    <article class="page-container">
        <form action="" method="post" class="form form-horizontal" id="form-member-add">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">
                    <span class="c-red">*</span>姓名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="username" name="username">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">
                    <span class="c-red">*</span>性别：</label>
                <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                    <div class="radio-box">
                        <input name="sex" type="radio" id="sex-1" checked value="1">
                        <label for="sex-1">男</label>

                    </div>
                    <div class="radio-box">
                        <input name="sex" type="radio" id="sex-2" value="2">
                        <label for="sex-2">女</label>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">
                    <span class="c-red">*</span>手机号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="mobile" name="mobile">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">
                    <span class="c-red">*</span>工号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="job_number">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">
                    <span class="c-red">*</span>身份证号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="id_number" name="id_number">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">
                    <span class="c-red">*</span>生日：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" onfocus="WdatePicker({})" class="input-text" value="" placeholder="" id="birthday" name="birthday">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">
                    <span class="c-red">*</span>服务类型：</label>
                <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                    {volist name = "$servicelist" id = "it" key="k"}
                    <div class="radio-box">
                        <input name="servicetype" type="checkbox" id="type-{$k}" value="{$it.id}">
                        <label for="type-{$k}">{$it.name}</label>
                    </div>
                    {/volist}
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input id="submit-btn" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </article>


    {include file="common/common_script"}

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="__STATIC__/vendor/jquery-cookie/jquery.cookie.js"></script>

    <script type="text/javascript">
        // 身份证号验证 
        function isIdCard(cardid) {
            //身份证正则表达式(18位) 
            var isIdCard2 = /^[1-9]\d{5}(19\d{2}|[2-9]\d{3})((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])(\d{4}|\d{3}X)$/i;
            var stard = "10X98765432"; //最后一位身份证的号码
            var first = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2]; //1-17系数
            var sum = 0;
            if (!isIdCard2.test(cardid)) {
                return false;
            }
            var year = cardid.substr(6, 4);
            var month = cardid.substr(10, 2);
            var day = cardid.substr(12, 2);
            var birthday = cardid.substr(6, 8);
            if (birthday != dateToString(new Date(year + '/' + month + '/' + day))) { //校验日期是否合法
                return false;
            }
            for (var i = 0; i < cardid.length - 1; i++) {
                sum += cardid[i] * first[i];
            }
            var result = sum % 11;
            var last = stard[result]; //计算出来的最后一位身份证号码
            if (cardid[cardid.length - 1].toUpperCase() == last) {
                return true;
            } else {
                return false;
            }
        }

        function dateToString(date) {
            if (date instanceof Date) {
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                month = month < 10 ? '0' + month : month;
                var day = date.getDate();
                day = day < 10 ? '0' + day : day;
                return year + month + day;
            }
            return '';
        }

        function isDate(date) {
            var isDate = /^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/;
            if (isDate.test(date)) return true;
            else return false;
        }
        jQuery.validator.addMethod("isIdCard",
            function (value, element) {
                return this.optional(element) || (isIdCard(value));
            },
            "身份证号非法！");
        jQuery.validator.addMethod("isDate",
            function (value, element) {
                return this.optional(element) || (isDate(value));
            },
            "日期格式错误");



        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });

            $("#form-member-add").validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 2,
                        maxlength: 16
                    },
                    id_number: {
						required: true,
						isIdCard:true,
					},
					birthday:{
						required:true,
						isDate:true,
					},
                    sex: {
                        required: true,
                    },
                    mobile: {
                        required: true,
                        isMobile: true,
                    },
                    servicetype: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    uploadfile: {
                        required: true,
                    },

                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    swal({
                        title: '正在处理',
                        text: '',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    }).then((result) => {});
                    name = $("#username").val();
                    gender = $("input:radio[name = 'sex']:checked").val();
                    idcard = $("#id_number").val();
                    birthday = $("#birthday").val();
                    service_id = [];
                    service_type = $('input:checkbox[name="servicetype"]:checked')
                    $.each(service_type, function () {
                        service_id.push($(this).val());
                    })
                    phone = $("#mobile").val();
                    job_number = $("#job_number").val();
                    $(form).ajaxSubmit({
                        type: 'post', // 提交方式 get/post
                        url: '__ROOT__/index.php/api/Technician/add_technician', // 需要提交的 url
                        data: {
                            name: name,
                            idcard:idcard,
                            birthday:birthday,
                            gender: gender,
                            mobile: phone,
                            job_number: job_number,
                            skill: service_id,
                        },
                        success: function (result) {
                            if (result.status == 1) {
                                swal("成功", "已添加新的技师", "success", {
                                    allowOutsideClick: false
                                }).then((ok) => {
                                    if (ok.value) {
                                        parent.location.reload()
                                        var index = parent.layer.getFrameIndex(
                                            window.name);
                                        parent.layer.close(index);
                                    }
                                })
                            } else if (result.status == 0) {
                                swal("失败", "已存在相同手机号的技师", "error");
                            } else if (result.status == -1) {
                                swal("失败", "已存在相同工号的技师", "error");
                            } else if (result.status == -2) {
                                swal("失败", "存在相同的技师名，请加标注以区分", "error");
                            } else if (result.status == -3) {
                                swal("失败", "已存在相同的身份证号", "error");
                            }else if (result.status == -4) {
                                swal("失败", "未指定技师的技能", "error");
                            }
                        }
                    });
                }
            });
        });
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>

</html>