<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    {include file="common/common_css"}
    <style>
        * {
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }

        .theinput {
            list-style: none;
            outline: none;
            border: 1px solid #eee;
            width: 200px;
            height: 30px;
            line-height: 30px;
        }

        .thebut {
        }
    </style>
    <title>编辑信息</title>
</head>

<body>
    <div style="margin-top: 5px;margin-bottom: 5px;padding-left: 10px">
        店铺名称
        <input type="text" id="shopname" class="theinput" value="{$shop.name}">
        店铺地址
        <input type="text" id="address" class="theinput" value="{$shop.position}">
        开业时间
        <input type="text" id="opentime" class="theinput" value="{$shop.open_time}">
        关门时间
        <input type="text" id="closetime" class="theinput" value="{$shop.close_time}">
        联系电话
        <input type="text" id="phone" class="theinput" value="{$shop.phone}">
        ip地址
        <input type="text" id="ip" class="theinput" value="{$shop.ip_address}">
    </div>
    <button onclick="update()" class="btn btn-primary radius" style="margin-left: 10px;margin-top: 6px;width: 90px">确认
    </button>

    {include file="common/common_script"}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        function update() {
            swal({
                title: '正在执行',
                allowOutsideClick: false,
                showCancelButton: false,
                showConfirmButton: false,
                onOpen: () => {
                    swal.showLoading()
                }
            })
            shopname = $("#shopname").val();
            address = $("#address").val();
            opentime = $("#opentime").val();
            closetime = $("#closetime").val();
            phone = $("#phone").val();
            ip = $("#ip").val();

            if (shopname != '' && address != '' && opentime != '' && closetime !='' && phone != '' && ip != '' ) {
                $.post("__ROOT__/index.php/api/Shop/update", {
                    shopname: shopname,
                    address: address,
                    open: opentime,
                    close:closetime,
                    phone:phone,
                    ip:ip,
                    id:'{$shop.ID}'
                }).done((res)=>{
                    parent.location.reload()
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                })
            } else {
                swal("", "填写项目不能为空", 'error');
            }

        }
    </script>
</body>

</html>