<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    {include file="common/common_css"}
    <style>
        * {
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }

        .theinput {
            list-style: none;
            outline: none;
            border: 1px solid #eee;
            width: 200px;
            height: 30px;
            line-height: 30px;
        }

        .thebut {
        }
    </style>
	
	<style>
		.disable{
			background-color: rgba(0, 0, 0, 0.4) !important;
		}
	</style>
	
    <title>到店支付</title>
</head>

<body>
	
	<div id="loading-mask" style="display:none;position: fixed;background-color: rgba(0,0,0,0.65);top:0;bottom: 0;left: 0;right: 0;z-index: 99">
            <div class="loading-main" style="position: absolute;width: 480px;height: 300px;top: 0;right: 0;bottom: 0;left: 0;margin: auto;text-align: center;">
                <div title="2">
                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="120px" height="120px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
  <path fill="#FF6700" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
    <animateTransform attributeType="xml"
                      attributeName="transform"
                      type="rotate"
                      from="0 25 25"
                      to="360 25 25"
                      dur="0.6s"
                      repeatCount="indefinite"/>
    </path>
  </svg>
                </div>
                <p style="color: #fff">正在加载请等待......</p>
            </div>

        </div>
		
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 服务管理
        <span class="c-gray en">&gt;</span> 到店支付
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div id="step1" style="margin-top: 5px;margin-bottom: 5px;margin-left:25px;padding-left: 10px">
        <div style="width:90px ; display:inline-block">顾客手机号:</div>   <input type="text" id="phone" class="theinput">
		<br><br>
		
        <div style="width:90px ; display:inline-block">&nbsp;&nbsp;顾客姓名:</div> <input type="text" id="username" class="theinput">
		<br><br>
		
		<div style="width:90px ; display:inline-block"><span style="color:red">*</span>包厢:</div>
        <select name="" id="room" class="theinput">
            {volist name="$room" id="it" key="k"}
            <option value="{$it.ID},{$it.name}">{$it.name}</option>
            {/volist}
        </select>
		
		
		<div style="display:inline-block"><img id="loading" style="display:none;width:30px;height:30px"/></div>
		
		<div style="width:200px ; display:inline-block"><span style="color:red" id="roomwarning" ></span></div>		
		<br>
		<br>
		
		 <div class="mt-20" style="width:60%;display:none" id="payinfoarea">
            <table class="table table-border table-bordered table-hover table-bg table-sort" id="paytable">
                <thead>
                    <tr class="text-c">
                        <th width="40">No</th>
                        <th width="80">类型</th>
                        <th width="80">名称</th>
                        <th width="80">单价</th>
                        <th width="60">数量</th>
						<th width="60">退单量</th>
						<th width="80">折扣</th>
						<th width="80">金额</th>
						<th width="80">技师</th>
						<th width="80">安排</th>	
						<th width="80">操作</th>
                    </tr>
                </thead>
                <tbody>                   
                </tbody>
            </table>
        </div>
       
	   <br>
	   <br>
	   <br>
	    <div id = "manualAdd" style="display:none">
        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>技师:</div>
        <select name="" id="tech" class="theinput">
            <option value="" selected>请选择技师</option>
            {volist name="$technicians" id="it" key="k"}
            <option value="{$it.job_number}">{$it.job_number}</option>
            {/volist}
        </select><br>

        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>服务:</div>
        <select name="" id="service" class="theinput">
            {volist name="$service" id="it" key="k"}
            <option value="{$it.ID}">{$it.name}</option>
            {/volist}
        </select><br>
		
        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>上钟类型:</div>
        <select class="theinput" name="" id="clock">
            <option value="1">排钟</option>
            <option value="2">点钟</option>
        </select><br>
		
		<div style="width:90px ; display:inline-block"></div>
        <button id="add" onclick="addservice()" class="btn btn-primary" style="margin-top: 6px;width: 90px" disabled>手动添加
        </button>
		</div>
		
		<br><br>
		
		<div style="width:90px ; display:inline-block"><span style="color:red">*</span>支付金额:</div>
        <input type="text" id="cash" class="theinput" style="color:red;">(元)
		
		<br><br>
		
		<div style="width:90px ; display:inline-block"><span style="color:red">*</span>支付方式:</div>
        <select class="theinput" name="" id="pay_method">
            <option value="1">微信支付</option>
            <option value="2">支付宝</option>
            <option value="3">会员卡余额支付</option>
            <option value="4">现金支付</option>
            <option value="5">银行卡支付</option>
            <option value="6">其他</option>
            <option value="7">美团支付</option>
        </select><br>
        <div id="check_div" hidden>
		
			<!--
            <div style="width:90px ; display:inline-block"><span style="color:red;">*</span>验证码:</div>
            <input type="text" id="check_code" class="theinput">
            <button class="btn btn-success" onclick="message()" id="check_button">获取验证码</button><br>
			-->

            <div style="width:90px ; display:inline-block"><span style="color:red;">*</span>余额剩余:</div>
            <span id="cus_cash">待查询...</span>
        </div>		
        <br>  
		
		<div style="width:90px ; display:inline-block"><span style="color:red">*</span>选择接待:</div>
		 <select name="" id="jiedai" class="theinput">
            <option value="" selected>请选择接待</option><!--技师type=2-->
            {volist name="$jiedai" id="it" key="k"}
            <option value="{$it.job_number}">{$it.job_number}</option>
            {/volist}
        </select><br>
		
		<br>
		
		<div style="width:90px ; display:inline-block">&nbsp;&nbsp;</span>订单备注:</div>
        <input type="text" id="note" class="theinput"><br>
        
		
		<!--
        <div style="width:90px ; display:inline-block">已选服务:</div>
        <div id="confirm_service"></div>
		-->

        <div style="width:90px ; display:inline-block"></div>
        <button onclick="done()" class="btn btn-primary" style="margin-top: 6px;width: 90px" id = "submit">订单支付
        </button>
    </div>
    {include file="common/common_script"}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
	
		var x = document.getElementById("room");  
		x.selectedIndex = -1;  
		
		var y = document.getElementById("tech");  
		y.selectedIndex = -1;  
		
		var z = document.getElementById("pay_method");  
		z.selectedIndex = -1;  
		
		var p = document.getElementById("service");  
		p.selectedIndex = -1;  		
		
				
		$("#phone").val("");
		$("#username").val("");		
		$("#cash").val("");
	
        var info = [];
        var total_price = 0;
        var phone = ""
        var message_interval = 0;
        var cooldown = 0;
        var check_code = "";
        var get_message = false;
        var busy = null;
		
		var itemcount = 0;

		
		//--------------------------------------------------------------
        $("#pay_method").change(()=>{ //改变支付方式，余额支付，获取客户余额
            choosen = $('#pay_method option:selected').val()
            if(choosen == 3)
			{
				phone = $('#phone').val()
				if (phone == "") 
				{
					$('#phone').focus();
					swal({
						title: "",
						text: "选择会员卡余额支付，手机号不能为空"
					})
					return;
				}
				else
				{				
					$("#check_div").attr('hidden',false);
					$.post("__ROOT__/index.php/api/Customer/get_cash_by_phone2",{
						phone:$('#phone').val()
					}).done((res)=>{
						$("#cus_cash").html('￥' + res.cash);
					})
				}
            }
			else
			{
                $("#check_div").attr('hidden',true);
            }            
        })
		
		//--------------------------------------------------------------
		$("#room").change(()=>{ //选择房间号，获取接口json，并渲染图表
		
			
			$('#paytable').empty(); //清空所有子标签(元素)
		
			$("#cash").val("");
			$("#roomwarning").html("");
			$('#loading').css('display', '');
			$("#loading").attr('src',"http://css.c7k7.com/souhou/timg4.gif"); 
			
			var room = $('#room option:selected').val();
            room = room.split(',');
			room_name = room[1];
			
			var timestamp = (new Date()).getTime();
			console.log("begin getRoomInfo" + timestamp);
			
			$.post("__ROOT__/index.php/api/Customer/getRoomInfo",{
				roomname:room_name
			}).done((res)=>{
							
				res = JSON.parse(res);
				
				timestamp = (new Date()).getTime();
				console.log("end getRoomInfo" + timestamp);
			
				if (res.success == true) 
				{
					if (res.status == "Finish")
					{
						$("#roomwarning").html("");
						
						$('#paytable').append("<thead><tr class='text-c'><th width='40'>No</th> <th width='80'>类型</th><th width='80'>名称</th><th width='80'>单价</th><th width='60'>数量</th><th width='60'>退单量</th><th width='80'>折扣</th><th width='80'>金额</th><th width='80'>技师</th><th width='80'>安排</th><th>操作</th></tr></thead><tbody></tbody>");
						
						//准备结帐
						//调用另一个接口						
						
						timestamp = (new Date()).getTime();
						console.log("begin getPayInfo" + timestamp);
				
						$.post("__ROOT__/index.php/api/Customer/getPayInfo",{
								checkInId:res.checkInId
							}).done((res)=>{
							
								timestamp = (new Date()).getTime();
								console.log("end getPayInfo" + timestamp);
								
								$('#loading').css('display', 'none');
								$('#payinfoarea').css('display', '');
								
								res = JSON.parse(res);
								
								if(res.success == false)
								{
									//alert("获取信息失败，需要手动录入订单");	
									
									alert("同步失败，重新登陆点钟宝后台，重启监控。或者手动录入订单信息");
									
									$('#manualAdd').css('display', '');//手动录入框显示									
									$('#loading').css('display', 'none');//loading 不显示
									$('#payinfoarea').css('display', '');//订单表头显示出来
									
									$('#paytable').append("<thead><tr class='text-c'><th width='40'>No</th> <th width='80'>类型</th><th width='80'>名称</th><th width='80'>单价</th><th width='60'>数量</th><th width='60'>退单量</th><th width='80'>折扣</th><th width='80'>金额</th><th width='80'>技师</th><th width='80'>安排</th><th>操作</th></tr></thead><tbody></tbody>");
								}
								else
								{
									var orderdata = res.data;
									
									orderdata2 = JSON.parse(orderdata);
									
									orderItems = orderdata2.orderitems;
									
									info = [];
									
									for (var i = 0; i < orderItems.length; i++) 
									{  
										console.log(i,orderItems[i]); 
										
										 
										if (orderItems[i].productType == "ServItem")
										{
											productType = "服务";
										}
										
										if (orderItems[i].arrangeType == "Specify")
										{
											arrangeType = "点钟";
											clock = 2;
										}
										else if (orderItems[i].arrangeType == "Arrangements")
										{
											arrangeType = "排钟";
											clock = 1;
										}
										
										$("#paytable").append("<tr class='text-c'><td>"+(i+1)+"</td><td>"+productType+"</td><td>"+orderItems[i].name+"</td><td>"+orderItems[i].price+"</td><td>"+orderItems[i].quantity+"</td><td>"+orderItems[i].returnQuantity+"</td><td>"+orderItems[i].scale+"</td><td>"+orderItems[i].subtotal+"</td><td>"+orderItems[i].servicePersonal+"</td><td>"+arrangeType+"</td><td><a href='#' onclick=delRow(this) >删除</a></td><tr>");
										
										var unit = {
												'job_number': orderItems[i].servicePersonal,
												'service_name':orderItems[i].name,
												'service_id': '',
												'price': orderItems[i].subtotal,
												'room_number': room_name,
												'clock': clock,
											};
										info.push(unit);											
									}

									$("#cash").val(orderdata2.countinfo.receivable);									
								}
						})
					}
					else if (res.status == "Idle")
					{
						//房间空闲						
						//$('#loading').css('display', 'none');
						//$("#roomwarning").html("该房间空闲状态，不能结帐");
						
						
						alert("同步失败，重新登陆点钟宝后台，重启监控。或者手动录入订单信息");
						////alert("获取信息失败，需要手动录入订单");									
						
						$('#manualAdd').css('display', '');//手动录入框显示									
						$('#loading').css('display', 'none');//loading 不显示
						$('#payinfoarea').css('display', '');//订单表头显示出来
						
						$('#paytable').append("<thead><tr class='text-c'><th width='40'>No</th> <th width='80'>类型</th><th width='80'>名称</th><th width='80'>单价</th><th width='60'>数量</th><th width='60'>退单量</th><th width='80'>折扣</th><th width='80'>金额</th><th width='80'>技师</th><th width='80'>安排</th><th>操作</th></tr></thead><tbody></tbody>");
						
					}
					else if (res.status == "Busy")
					{
						//alert("该房间正在服务，不能结帐");
						$('#loading').css('display', 'none');
						$("#roomwarning").html("该房间正在服务，不能结帐");
					}
				}
				else //获取小曹接口失败
				{
					alert("同步失败，重新登陆点钟宝后台，重启监控。或者手动录入订单信息");
					
					//alert("获取信息失败，需要手动录入订单");									
					$('#manualAdd').css('display', '');//手动录入框显示									
					$('#loading').css('display', 'none');//loading 不显示
					$('#payinfoarea').css('display', '');//订单表头显示出来
					
					$('#paytable').append("<thead><tr class='text-c'><th width='40'>No</th> <th width='80'>类型</th><th width='80'>名称</th><th width='80'>单价</th><th width='60'>数量</th><th width='60'>退单量</th><th width='80'>折扣</th><th width='80'>金额</th><th width='80'>技师</th><th width='80'>安排</th><th>操作</th></tr></thead><tbody></tbody>");
				}
			})
        })
		
		//--------------------------------------------------------------
		//删除表格一行
		
		function delRow(obj)
		{
			//获取当前对象的父元素，在其下寻找id为“id”的元素的值
			//var id1 = $(obj).parents("tr").find("#id").val();
			var res = confirm("确定要删除么？");
			if(res)
			{
				var value = $(".price_1")[0].innerHTML;
				console.log(value);
				
				//删除界面元素，当前行
				//$(obj).parents("tr").remove();
			}			
		}


		//--------------------------------------------------------------
        $('#phone').blur(()=>{  //输入客户手机号码，自动获取客户姓名
		
			if ($('#phone').val() != '')
			{
				$.post("__ROOT__/index.php/api/Customer/get_spokename_by_phone",{
					phone:$('#phone').val()
				}).done((res)=>{
					$('#username').val(res.name);
				})
				
				
				choosen = $('#pay_method option:selected').val()
				if(choosen == 3)
				{
					$("#check_div").attr('hidden',false);
					$.post("__ROOT__/index.php/api/Customer/get_cash_by_phone2",{
						phone:$('#phone').val()
					}).done((res)=>{
						$("#cus_cash").html('￥' + res.cash);
					})
				}
			}
        })

		//--------------------------------------------------------------
        $('#tech').change(() => { //选择技师，获得该技师对应的技能
            $("#add").attr('disabled', true);
            var choosen = $('#tech option:selected').val()
            if (choosen == "") return;
            
            $.post('__ROOT__/index.php/api/Skill/get_skill', {
                job_number: choosen
            }).done((res) => {
                $('#service').empty()
                busy = res[0]['busy'];
                for (var i = 0; i < res.length; i++) {
                    $('#service').append("<option value ='" + res[i]['service_id'] + ',' + res[i][
                            'name'
                        ] + ',' +
                        res[i]['price'] + "'>" + res[i]['name'] + "</option>")
                }
                $("#add").attr('disabled', false);
            })
        })

		//--------------------------------------------------------------
        function message() //发送短消息
		{
            phone = $("#phone").val();
            var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
            if (!myreg.test(phone)) {
                swal({
                    title: '请填写正确的手机号',
                    type: 'error'
                })
                return;
            }
            if (cooldown != 0) {
                return;
            }
            $.post("__ROOT__/index.php/api/Shop/message", {
                phone: phone
            }).done((res) => {
                check_code = res.code;
                get_message = true;
                cooldown = 45
                message_interval = setInterval(() => {
                    $("#check_button").html(cooldown);
                    cooldown -= 1;
                    if (cooldown == 0) {
                        clearInterval(message_interval);
                        $("#check_button").html('获取验证码');
                    }
                }, 1000)
            })
        }

		//--------------------------------------------------------------
        function addservice() //添加服务，并且添加到表格中
		{
            var tech = $('#tech option:selected').val()
            if (tech == "") return;
			
            if(busy == 1)
			{
                swal({
                    title:"该技师目前繁忙，不可约",
                    type:'error'
                })
                return;
            }			
			
			/*
            if(info.length > 0)
			{
                swal({
                    title:"一次只能添加一项服务",
                    type:'info'
                })
                return;
            }
			*/
			
            var service = $('#service option:selected').val()
            service = service.split(',')
            var room = $('#room option:selected').val()
            room = room.split(',')
            var clock = $('#clock option:selected').val()

            var unit = {
                'job_number': tech,
                'service_id': service[0],
                'price': service[2],
                'room_number': room[0],
                'clock': clock
            }
			
			itemcount = itemcount + 1;

            //$('#confirm_service').append("<p style='display:inline-block'>技师: " + tech + "\t服务:" + service[1] + "\t包厢:" + room[0] + "\t上钟类型:" + (clock == 1 ? '排钟' : '点钟') + "</p><br>")
				
            //总价通过服务价格自动计算，暂时改成手动输入
            //total_price += parseInt(service[2]) / 100;
            //$('#cash').val(total_price);
			
			servicename = $('#service option:selected').text();			
			price =  service[2] / 100;
			
			if (clock == 1)
			{
				arrange = "排钟";				
			}
			else if (clock == 2)
			{
				arrange = "点钟";				
			}
			
			$("#paytable").append("<tr class='text-c'><td>"+itemcount+"</td><td>服务</td><td>"+servicename+"</td><td >"+price+"</td><td>1</td><td>0</td><td>100</td><td class='price_"+itemcount+"'>"+price+"</td><td>"+tech+"</td><td>"+arrange+"</td><td><a href='#' onclick=delRow(this) >删除</a></td><tr>");
			
            info.push(unit);
        }

		//--------------------------------------------------------------
        function done() //订单支付
		{
			if($('#submit').hasClass('disable'))
			{
				return;
			}
			
			paymethod = $('#pay_method option:selected').val();
			if (paymethod == 3)
			{
				phone = $('#phone').val()
				if (phone == "") 
				{
					swal({
						title: "",
						text: "选择会员卡余额支付，手机号不能为空"
					})
					return;
				}
			}
			
            if (info.length == 0) 
			{
                swal({
                    title: "",
                    text: "没有录入订单，不能支付！"
                })
                return;
            }
			
            if ($("#cash").val() == "") 
			{
                swal({
                    title: "",
                    text: "金额不能为空"
                })
                return;
            }
			
			if ($("#jiedai").val() == "") 
			{
                swal({
                    title: "",
                    text: "没有录入接待，不能支付！"
                })
                return;
            }
			
			$('#loading-mask').show();
            $('#submit').addClass('disable');
			
            total_price = $('#cash').val();			
           
		   /*
            if ($('#pay_method option:selected').val() == 3)  //余额支付需要验证码
			{
                if($('#check_code').val()!= check_code){
                    swal({
                        title:"验证码错误",
                        type:'error'
                    })
                    return;
                }
                if(!get_message){
                    swal({
                        title:"请先获取验证码",
                        type:'error'
                    })
                    return;
                }
            }
			*/
			//余额支付，需要改成支付完发短信通知
			
			phone = $('#phone').val();
            $.post("__ROOT__/index.php/api/Consumedorder/create_order", {
                info: info,//订单的多个服务信息
                total_price: total_price,//支付价格
                phone: phone,//手机号码
                method: $('#pay_method option:selected').val(),//支付方式
                username: $('#username').val(),//用户名
				jiedai: $('#jiedai').val(),//接待工号
                note: $('#note').val(),//备注
            }).done((res) => {

                if (res.status == 1) 
				{
					$('#submit').removeClass('disable');
                    $('#loading-mask').hide();
					
                    swal({
                        title: "订单创建成功",
                        text: "订单号为" + res.data,
                        type: "success"
                    })
                    location.reload();
                } 
				else 
				{
					$('#submit').removeClass('disable');
                    $('#loading-mask').hide();
					
                    swal({
                        title: "订单创建失败",
                        text: res.msg,
                        type: "error"
                    })
                }
            })
        }
		//--------------------------------------------------------------
		
    </script>
</body>

</html>