<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    {include file="common/common_css"}
    <style>
        * {
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }

        .theinput {
            list-style: none;
            outline: none;
            border: 1px solid #eee;
            width: 200px;
            height: 30px;
            line-height: 30px;
        }

        .thebut {
        }
    </style>
    <title>到店支付</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 服务管理
        <span class="c-gray en">&gt;</span> 到店支付
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div id="step1" style="margin-top: 5px;margin-bottom: 5px;margin-left:25px;padding-left: 10px">
        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>顾客手机号:</div>        <input type="text" id="phone" class="theinput"><br>
        <div style="width:90px ; display:inline-block">&nbsp;&nbsp;顾客姓名:</div>     <input type="text" id="username" class="theinput"><br>
		
		<div style="width:90px ; display:inline-block"><span style="color:red">*</span>包厢:</div>
        <select name="" id="room" class="theinput">
            {volist name="$room" id="it" key="k"}
            <option value="{$it.ID},{$it.name}">{$it.name}</option>
            {/volist}
        </select>
		<br>
		<br>
       
        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>技师:</div>
        <select name="" id="tech" class="theinput">
            <option value="" selected>请选择技师</option>
            {volist name="$technicians" id="it" key="k"}
            <option value="{$it.job_number}">{$it.job_number}</option>
            {/volist}
        </select><br>

        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>服务:</div>
        <select name="" id="service" class="theinput">
            {volist name="$service" id="it" key="k"}
            <option value="{$it.ID}">{$it.name}</option>
            {/volist}
        </select><br>

        
		
        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>上钟类型:</div>
        <select class="theinput" name="" id="clock">
            <option value="1">排钟</option>
            <option value="2">点钟</option>
        </select><br>
        <div style="width:90px ; display:inline-block">&nbsp;&nbsp;</span>订单备注:</div>
        <input type="text" id="note" class="theinput"><br>
		
		
		<div style="width:90px ; display:inline-block"><span style="color:red">*</span>支付方式:</div>
        <select class="theinput" name="" id="pay_method">
            <option value="1">微信支付</option>
            <option value="2">支付宝</option>
            <option value="3">会员卡余额支付</option>
            <option value="4">现金支付</option>
            <option value="5">银行卡支付</option>
            <option value="6">其他</option>
            <option value="7">美团支付</option>
        </select><br>
        <div id="check_div" hidden>
            <div style="width:90px ; display:inline-block"><span style="color:red;">*</span>验证码:</div>
            <input type="text" id="check_code" class="theinput">
            <button class="btn btn-success" onclick="message()" id="check_button">获取验证码</button><br>

            <div style="width:90px ; display:inline-block"><span style="color:red;">*</span>余额剩余:</div>
            <span id="cus_cash">待查询...</span>
        </div>
        <br>
        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>支付金额(元):</div>
        <input type="text" id="cash" class="theinput"><br><br>
		
		
        <div style="width:90px ; display:inline-block"></div>
        <button id="add" onclick="addservice()" class="btn btn-primary" style="margin-top: 6px;width: 90px" disabled>添加服务
        </button><br><br>

        <div style="width:90px ; display:inline-block">已选服务:</div>
        <div id="confirm_service"></div>

        <div style="width:90px ; display:inline-block"></div>
        <button onclick="done()" class="btn btn-primary" style="margin-top: 6px;width: 90px">订单支付
        </button>
    </div>
    {include file="common/common_script"}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        var info = []
        var total_price = 0
        var phone = ""
        var message_interval = 0;
        var cooldown = 0;
        var check_code = "";
        var get_message = false;
        var busy = null;

		//--------------------------------------------------------------
        $("#pay_method").change(()=>{ //改变支付方式，余额支付，获取客户余额
            choosen = $('#pay_method option:selected').val()
            if(choosen == 3){
                $("#check_div").attr('hidden',false);
                $.post("__ROOT__/index.php/api/Customer/get_cash_by_phone2",{
                phone:$('#phone').val()
                }).done((res)=>{
                    $("#cus_cash").html('￥' + res.cash);
                })
            }else{
                $("#check_div").attr('hidden',true);
            }            
        })
		
		//--------------------------------------------------------------
		$("#room").change(()=>{ //选择房间号，获取接口json，并渲染图表
		
			//alert("hello");
			var room = $('#room option:selected').val();
            room = room.split(',');
			room_name = room[1];
			
			//alert(room_name);
			
			$.post("__ROOT__/index.php/api/Customer/getPayInfo",{
				roomname:room_name
			}).done((res)=>{
				alert(res);
			})
        })

		//--------------------------------------------------------------
        $('#phone').blur(()=>{  //输入客户手机号码，自动获取客户姓名
            $.post("__ROOT__/index.php/api/Customer/get_spokename_by_phone",{
                phone:$('#phone').val()
            }).done((res)=>{
                $('#username').val(res.name);
            })
        })

		//--------------------------------------------------------------
        $('#tech').change(() => { //选择技师，获得该技师对应的技能
            $("#add").attr('disabled', true);
            var choosen = $('#tech option:selected').val()
            if (choosen == "") return;
            
            $.post('__ROOT__/index.php/api/Skill/get_skill', {
                job_number: choosen
            }).done((res) => {
                $('#service').empty()
                busy = res[0]['busy'];
                for (var i = 0; i < res.length; i++) {
                    $('#service').append("<option value ='" + res[i]['service_id'] + ',' + res[i][
                            'name'
                        ] + ',' +
                        res[i]['price'] + "'>" + res[i]['name'] + "</option>")
                }
                $("#add").attr('disabled', false);
            })
        })

		//--------------------------------------------------------------
        function message() //发送短消息
		{
            phone = $("#phone").val();
            var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
            if (!myreg.test(phone)) {
                swal({
                    title: '请填写正确的手机号',
                    type: 'error'
                })
                return;
            }
            if (cooldown != 0) {
                return;
            }
            $.post("__ROOT__/index.php/api/Shop/message", {
                phone: phone
            }).done((res) => {
                check_code = res.code;
                get_message = true;
                cooldown = 45
                message_interval = setInterval(() => {
                    $("#check_button").html(cooldown);
                    cooldown -= 1;
                    if (cooldown == 0) {
                        clearInterval(message_interval);
                        $("#check_button").html('获取验证码');
                    }
                }, 1000)
            })
        }

		//--------------------------------------------------------------
        function addservice() //添加服务
		{
            var tech = $('#tech option:selected').val()
            if (tech == "") return;
            if(busy == 1)
			{
                swal({
                    title:"该技师目前繁忙，不可约",
                    type:'error'
                })
                return;
            }
            if(info.length > 0)
			{
                swal({
                    title:"一次只能添加一项服务",
                    type:'info'
                })
                return;
            }
            var service = $('#service option:selected').val()
            service = service.split(',')
            var room = $('#room option:selected').val()
            room = room.split(',')
            var clock = $('#clock option:selected').val()

            var unit = {
                'job_number': tech,
                'service_id': service[0],
                'price': service[2],
                'room_number': room[0],
                'clock': clock
            }

            $('#confirm_service').append("<p style='display:inline-block'>技师: " + tech + "\t服务:" + service[1] + "\t包厢:" +
                room[0] + "\t上钟类型:" + (clock == 1 ? '排钟' : '点钟') + "</p><br>")
				
            //总价通过服务价格自动计算，暂时改成手动输入
            //total_price += parseInt(service[2]) / 100;
            //$('#cash').val(total_price);
			
            info.push(unit)
        }

		//--------------------------------------------------------------
        function done() //订单支付
		{
            phone = $('#phone').val()
            if (phone == "") 
			{
                swal({
                    title: "",
                    text: "手机号不能为空"
                })
                return;
            }
			
            if (info.length == 0) 
			{
                swal({
                    title: "",
                    text: "选择的服务不能为空"
                })
                return;
            }
			
            if ($("#cash").val() == "") 
			{
                swal({
                    title: "",
                    text: "金额不能为空"
                })
                return;
            }
			
            total_price = $('#cash').val();
            //余额支付需要验证码
            if ($('#pay_method option:selected').val() == 3) 
			{
                if($('#check_code').val()!= check_code){
                    swal({
                        title:"验证码错误",
                        type:'error'
                    })
                    return;
                }
                if(!get_message){
                    swal({
                        title:"请先获取验证码",
                        type:'error'
                    })
                    return;
                }
            }
			
            $.post("__ROOT__/index.php/api/Consumedorder/create_order", {
                info: info,
                total_price: total_price,
                phone: phone,
                method: $('#pay_method option:selected').val(),
                username: $('#username').val(),
                note: $('#note').val()
            }).done((res) => {

                if (res.status == 1) {
                    swal({
                        title: "订单创建成功",
                        text: "订单号为" + res.data,
                        type: "success"
                    })
                    location.reload();
                } else {
                    swal({
                        title: "订单创建失败",
                        text: res.msg,
                        type: "error"
                    })
                }
            })
        }
		//--------------------------------------------------------------
		
    </script>
</body>

</html>