<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    {include file="common/common_css"}
    <style>
        * {
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }

        .theinput {
            list-style: none;
            outline: none;
            border: 1px solid #eee;
            width: 200px;
            height: 30px;
            line-height: 30px;
        }

        .thebut {
        }
    </style>
    <title>到店支付</title>
</head>

<body>
    <div id="step1" style="margin-top: 5px;margin-bottom: 5px;margin-left:25px;padding-left: 10px">
        <div style="width:90px ; display:inline-block">&nbsp;&nbsp;顾客姓名:</div>
        <input type="text" id="username" class="theinput"><br>
        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>顾客手机号:</div>
        <input type="text" id="phone" class="theinput"><br>
        <div style="width:90px ; display:inline-block" ><span style="color:red">*</span>支付方式:</div>
            <select class="theinput"  name="" id="pay_method">
                <option value="1">微信支付</option>
                <option value="2">支付宝</option>
                <option value="4">现金支付</option>
                <option value="5">银行卡支付</option>
                <option value="6">其他</option>
        </select>
        <br><br><br>
        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>技师:</div>
        <select name="" id="tech" class="theinput">
            <option value="" selected>请选择技师</option>
            {volist name="$technicians" id="it" key="k"}
            <option value="{$it.job_number}">{$it.job_number}</option>
            {/volist}
        </select ><br>

        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>服务:</div>
        <select name="" id="service" class="theinput">
                {volist name="$service" id="it" key="k"}
                <option value="{$it.ID}">{$it.name}</option>
                {/volist}
        </select><br>

        <div style="width:90px ; display:inline-block"><span style="color:red">*</span>包厢:</div>
        <select name="" id="room" class="theinput">
            {volist name="$room" id="it" key="k"}
            <option value="{$it.ID},{$it.name}">{$it.name}</option>
            {/volist}
        </select><br>

        <div style="width:90px ; display:inline-block"></div>
        <button id="add" onclick="addservice()" class="btn btn-primary" style="margin-top: 6px;width: 90px" disabled>添加服务
        </button><br><br>

        <div style="width:90px ; display:inline-block">已选服务:</div>
        <div id="confirm_service"></div>

        <div style="width:90px ; display:inline-block" ></div>
        <button onclick="done()" class="btn btn-primary" style="margin-top: 6px;width: 90px">订单支付
        </button>
    </div>
    {include file="common/common_script"}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        var info = []
        var total_price = 0
        var phone = ""
        $('#tech').change(() => {

            $("#add").attr('disabled', true);
            var choosen = $('#tech option:selected').val()
            if (choosen == "") return;
            $.post('__ROOT__/index.php/api/Skill/get_skill', {
                job_number: choosen
            }).done((res) => {
                $('#service').empty()
                for (var i = 0; i < res.length; i++) {
                    $('#service').append("<option value ='" + res[i]['ID'] + ',' + res[i]['name'] + ',' +
                        res[i]['price'] + "'>" + res[i]['name'] + "</option>")
                }
                $("#add").attr('disabled', false);
            })
        })

        function addservice() {
            var tech = $('#tech option:selected').val()
            if(tech == "")return;

            var service = $('#service option:selected').val()
            service = service.split(',')
            var room = $('#room option:selected').val()
            room = room.split(',')
            var unit = {
                'job_number': tech,
                'service_id': service[0],
                'price': service[2],
                'room_number': room[0]
            }

            $('#confirm_service').append("<p style='display:inline-block'>技师: " + tech + "\t服务:" + service[1] + "\t包厢:" + room[0] +"</p><br>")
            total_price += parseInt(service[2]) / 100;
            $('#cost').html("总计金额：" + total_price + '元');
            info.push(unit)
        }

        function done() {
            phone = $('#phone').val()
            if (phone == "") {
                swal({
                    title: "",
                    text: "手机号不能为空"
                })
                return;
            }
            if (info.length == 0) {
                swal({
                    title: "",
                    text: "选择的服务不能为空"
                })
                return;
            }
            $.post("__ROOT__/index.php/api/Consumedorder/create_order", {
                info: info,
                total_price: total_price,
                phone: phone,
                method: $('#pay_method option:selected').val(),
                username:$('#username').val()
            }).done((res) => {
                if (res.status == 1) {
                    swal({
                        title: "订单创建成功",
                        text: "订单号为" + res.data,
                        type: "success"
                    })
                    location.reload();
                }
            })
        }
    </script>
</body>

</html>