<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5shiv.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
    {include file="common/common_css"}
    <!--[if IE 6]>
	<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
    <title>活动列表</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 店铺管理
        <span class="c-gray en">&gt;</span> 活动设置
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span>
                <a href="javascript:;" onclick="member_add('添加活动','__ROOT__/index.php/admin/Shop/promotion_add','','510')"
                    class="btn btn-primary radius">
                    <i class="Hui-iconfont">&#xe600;</i>
                    添加活动
                </a>
            </span>
            <span class="r">
                共有数据：<strong>{$count}</strong>
                条
            </span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="80">活动说明</th>
                        <th width="50">需求消费额</th>
                        <th width="50">返回额</th>
                        <th width="100">开始时间</th>
                        <th width="100">结束时间</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="$promotion" id="it"}
                    <tr class="text-c">
                        <td>{$it.content}</td>
                        <td>￥{$it.need/100}</td>
                        <td>￥{$it.back/100}</td>
                        <td>{$it._start}</td>
                        <td>{$it._end}</td>
                        <td>
                            <a title="删除该项目" href="javascript:;" onclick="member_del(this,'{$it.ID}')" class="ml-5 btn btn-danger"
                                style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6e2;</i>
                                删除
                            </a>
                            <a title="详细设定" href="javascript:;" onclick="member_edit('编辑活动','__ROOT__/index.php/admin/Shop/promotion_edit/id/{$it.ID}')"
                                class="ml-5 btn btn-info" style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6df;</i>
                                详细设定
                            </a>

                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
    {include file="common/common_script"}

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.table-sort').dataTable({
                "aaSorting": [
                    [1, "desc"]
                ], //默认第几个排序
                "bStateSave": true, //状态保存
                "aoColumnDefs": [
                    //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                    {
                        "orderable": false,
                        "aTargets": [0, 1, 4]
                    } // 制定列不参与排序
                ]
            });
        });

        /*用户-添加*/
        function member_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        /*用户-编辑*/
        function member_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }

        /*用户-删除*/
        function member_del(obj, id) {
            swal({
                title: '确认删除该项吗？',
                text: '',
                type: 'question',
                allowOutsideClick: false,
                showCancelButton: true,
                confirmButtonColor: '#93c47d',
                cancelButtonColor: '#ca5943',
                confirmButtonText: "确认",
                cancelButtonText: "取消"
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: '正在处理',
                        text: '',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    }).then((result) => {});
                    $.post("__ROOT__/index.php/api/Promotion/delete", {
                        id: id
                    }).done(function (result) {
                        if (result.status == 1) {
                            $(obj).parents("tr").remove();
                            swal("完成", "已删除项目", "success").then((ok) => {})
                        }
                    })
                }
            })
        }
    </script>
</body>

</html>