<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5shiv.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
    {include file="common/common_css"}
    <!--[if IE 6]>
	<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
    <title>店铺信息</title>
</head>

<body>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">
                共有数据：<strong>{$count}</strong>
                条
            </span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="100">店铺名称</th>
                        <th width="80">店铺地址</th>
                        <th width="80">开业时间</th>
                        <th width="100">关门时间</th>
                        <th width="80">联系电话</th>
                        <th width="80">ip地址</th>
                        <th width="80">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="$shop" id="it"}
                    <tr class="text-c">
                        <td>{$it.name}
                        </td>
                        <td>{$it.position}
                        </td>
                        <td>{$it.open_time}
                        </td>
                        <td>{$it.close_time}
                        </td>
                        <td>{$it.phone}
                        </td>
                        <td>{$it.ip_address}
                        </td>
                        <td>
                            {if condition="$edit == 1"}
                            <a title="轮播图设置" onclick="edit_pic('轮播图设置','__ROOT__/index.php/admin/Shop/pic?id={$it.ID}',900,600)" class="ml-5" style="text-decoration:none">
                                轮播图设置
                                <i class="Hui-iconfont">&#xe6df;</i>
                            </a>
                            <a title="信息设置" onclick="edit_pic('信息设置','__ROOT__/index.php/admin/Shop/editinfo?id={$it.ID}',900,600)" class="ml-5" style="text-decoration:none">
                                信息设置
                                <i class="Hui-iconfont">&#xe6df;</i>
                            </a>
                            {/if}
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
    {include file="common/common_script"}

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.table-sort').dataTable({
                "aaSorting": [
                    [2, "desc"]
                ], //默认第几个排序
                "bStateSave": true, //状态保存
                "aoColumnDefs": [
                    //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                    {
                        "orderable": false,
                        "aTargets": [0, 1, 4,5,6]
                    } // 制定列不参与排序
                ]
            });
        });

        /*用户-添加*/
        function edit_pic(title, url, w, h) {
            layer_show(title, url, w, h);
        }



        function show_swal(fun, id) {
            swal({
                title: "请输入要修改的" + fun,
                input: 'text',
                showCancelButton: true,
                allowOutsideClick: false,
            }).then((result) => {
                var str = "";
                var dict = {
                    "店铺名": "update_name",
                    "店铺地址": "update_position",
                    "开门时间": "update_opentime",
                    "关门时间": "update_closetime",
                    "联系电话":"update_phone",
                    "ip":"update_ip",
                }
                str = dict[fun];
                if (result.value) {
                    swal({
                        title: '正在执行',
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    })
                    var val = result.value;
                    $.post("__ROOT__/index.php/api/Shop/" + str, {
                        id: id,
                        value: val
                    }).done((bk) => {
                        if (bk.status == 1) {
                            swal({
                                title: "完成修改",
                                type: "success"
                            });
                            location.reload();
                        } else {
                            swal({
                                title: "修改失败",
                                type: "error"
                            });
                        }
                    })
                }

            })
        }
        /*用户-编辑*/
        function member_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }

        /*用户-删除*/
        function member_del(obj, id) {
            swal({
                title: '确认删除该项吗？',
                text: '',
                type: 'question',
                allowOutsideClick: false,
                showCancelButton: true,
                confirmButtonColor: '#93c47d',
                cancelButtonColor: '#ca5943',
                confirmButtonText: "确认",
                cancelButtonText: "取消"
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: '正在处理',
                        text: '',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    }).then((result) => {});
                    $.post("__ROOT__/index.php/api/Servicetype/delete_service", {
                        id: [id]
                    }).done(function (result) {
                        if (result.status == 1) {
                            $(obj).parents("tr").remove();
                            swal("完成", "已删除项目", "success").then((ok) => {})
                        }
                    })
                }
            })
        }
    </script>
</body>

</html>