<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5shiv.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
    {include file="common/common_css"}

    <!--[if IE 6]>
	<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
    <title>技师状态操作</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 服务管理
        <span class="c-gray en">&gt;</span> 技师状态操作
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">共有数据：
                <strong>{$count}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <!-- <th width="80">姓名</th> -->
                        <th width="90">工号</th>
                        {if condition="$edit == 1"}
                        <th width="100">繁忙</th>
                        <th width="100">上钟</th>
                        {/if}
                    </tr>
                </thead>
                <tbody>
                    {volist name = "$technicians" id = "it" key="k"}
                    <tr class="text-c">
                        <td>{$it.job_number}</td>
                        {if condition="$edit == 1"}
                        <td style="height:50px">
                            <input onchange="change_busy('{$it.job_number}')" name="busy{$k}" type="radio" value="0" {if condition="$it.busy==0"}checked{/if} />空闲 
                            <input onchange="change_busy('{$it.job_number}')" name="busy{$k}" type="radio" value="1" {if condition="$it.busy==1"}checked{/if}/>繁忙 
                        </td>
                        <td>
                            <input onchange="change_clock('{$it.job_number}')" name="clock{$k}" type="radio" value="1" {if condition="$it.clock==1"}checked{/if}/>上钟
                            <input onchange="change_clock('{$it.job_number}')" name="clock{$k}" type="radio" value="0" {if condition="$it.clock==0"}checked{/if}/>下钟 
                        </td>
                        {/if}
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
    {include file="common/common_script"}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="__STATIC__/vendor/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src="__STATIC__/vendor/sweetalert/sweetalert2.all.js"></script>
    <script src="__STATIC__/vendor/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.table-sort').dataTable({
                "aaSorting": [
                    [7, "desc"]
                ], //默认第几个排序
                "bStateSave": false, //状态保存
                "aoColumnDefs": [
                    //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                    {
                        "orderable": false,
                        "aTargets": [0, 1, 2, 3, 4]
                    } // 制定列不参与排序
                ]
            });
        });
        function change_busy(job_number){
            $.post("__ROOT__/index.php/api/Technician/change_busy",{
                job_number:job_number
            })
        }
        function change_clock(job_number){
            $.post("__ROOT__/index.php/api/Technician/change_clock",{
                job_number:job_number
            })
        }

        function member_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        /*用户-查看*/
        function zhidingren(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }

        /**
         * 修复翻页box的代码
         */
        $('.table').on('draw.dt', function () {
            $('input.flat').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });
        });
    </script>
</body>

</html>