<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5shiv.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
    {include file="common/common_css"}
    <link href="__STATIC__/vendor/iCheck/skins/all.css" rel="stylesheet">
    <!--[if IE 6]>
	<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
    <title>技师列表</title>
</head>

<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 技师管理
        <span class="c-gray en">&gt;</span> 技师列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
                    <i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                <a href="javascript:;" onclick="member_add('添加用户','__ROOT__/index.php/admin/Addtechnician/addtechnician','','610')" class="btn btn-primary radius">
                    <i class="Hui-iconfont">&#xe600;</i> 添加技师</a>
            </span>
            <span class="r">共有数据：
                <strong>{$count}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="40">
                            <input type="checkbox" name="" value="" class="flat" id='checkall'>
                        </th>
                        <th width="80">姓名</th>
                        <th width="40">性别</th>
                        <th width="120">工号</th>
                        <th width="100">手机号</th>
                        <th width="100">技能</th>
                        <th width="30">评分</th>
                        <th width="130">介绍人工号</th>
                        <th width="50">离职情况</th>
                        <th width="70">指定介绍人</th>
                        <th width="70">查看详情</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name = "$technicians" id = "it" key="k"}
                    <tr class="text-c">
                        <td>
                            <input type="checkbox" value="{$it.job_number}" name="{$k}" class="flat">
                        </td>
                        <td>{$it.name}</td>
                        <td>
                            {if condition="$it.gender=='1'"}男 {else /}女 {/if}

                        </td>
                        <td>{$it.job_number}</td>
                        <td>{$it.phone_number}</td>
                        <td>
                            {volist name="$skills[$k-1]" id="sk"} {$sk}&nbsp;&nbsp; {/volist}
                        </td>
                        <td class="text-l">{if condition="$score[$k-1]==0"}无{else /}{$score[$k-1]}{/if}</td>
                        <td>{if condition="is_null($it.inviter)"}无 {else /} {$it.inviter} {/if}
                        </td>
                        <td>{if condition="$it.in_job==1"}在职{else /}离职{/if}
                            <a title="改变在职情况" href="javascript:;" onclick="change_injob('{$it.job_number}')" class="ml-5" style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6df;</i>
                            </a>
                        </td>
                        <td class="td-status">
                            <button onclick="zhidingren('指定介绍人','__ROOT__/index.php/admin/Addinviter/Addinviter/jbnb/{$it.job_number}','10001','360','400')"
                                class="btn btn-primary">指定介绍人</button>
                        </td>
                        <td>
                            <button onclick="layer_show('详情', '__ROOT__/index.php/admin/Techniciandetail/Techniciandetail/jbnb/{$it.job_number}','500','500','610');"
                                class="btn btn-primary">查看详情</button>
                        </td>
                        <td class="td-manage">
                            <a title="编辑" href="javascript:;" onclick="member_edit('编辑','__ROOT__/index.php/admin/Edittechnician/Edittechnician/name/{$it.name}/gender/{$it.gender}/phonenum/{$it.phone_number}/jobnum/{$it.job_number}','4','','610')"
                                class="ml-5" style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6df;</i>
                            </a>
                            <a title="删除" href="javascript:;" onclick='member_del(this,"{$it.job_number}")' class="ml-5" style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6e2;</i>
                            </a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
    {include file="common/common_script"}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="__STATIC__/vendor/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src="__STATIC__/vendor/sweetalert/sweetalert2.all.js"></script>
    <script src="__STATIC__/vendor/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.table-sort').dataTable({
                "aaSorting": [
                    [1, "desc"]
                ], //默认第几个排序
                "bStateSave": true, //状态保存
                "aoColumnDefs": [
                    //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                    {
                        "orderable": false,
                        "aTargets": [0, 7, 8, 9]
                    } // 制定列不参与排序
                ]
            });
        });

        function change_injob(job_number) {
            swal({
                title: '确认修改吗？',
                text: '',
                type: 'question',
                allowOutsideClick: false,
                showCancelButton: true,
                confirmButtonColor: '#93c47d',
                cancelButtonColor: '#ca5943',
                confirmButtonText: "确认",
                cancelButtonText: "取消"
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: "正在更改",
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading();
                        }
                    });
                    $.post("__ROOT__/index.php/api/Technician/change_in_job", {
                        job_number: job_number
                    }).done((result) => {
                        if (result.status == 0) {
                            swal({
                                title: "失败",
                                text: "改变失败",
                                type: "error"
                            });
                        } else {
                            location.reload();
                        }
                    })
                }
            });
        }
        /*用户-添加*/
        function member_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        /*用户-查看*/
        function zhidingren(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }

        /***
         /*用户-停用
         function member_stop(obj, id) {
            layer.confirm('确认要停用吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '',
                    dataType: 'json',
                    success: function (data) {
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                        $(obj).remove();
                        layer.msg('已停用!', {icon: 5, time: 1000});
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }

         /*用户-启用
         function member_start(obj, id) {
            layer.confirm('确认要启用吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '',
                    dataType: 'json',
                    success: function (data) {
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                        $(obj).remove();
                        layer.msg('已启用!', {icon: 6, time: 1000});
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }
         ***/

        /*用户-编辑*/
        function member_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }

        /***
         /*密码-修改
         function change_password(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
         ***/

        /*用户-删除*/
        function member_del(obj, id) {
            swal({
                title: '确认删除该项吗？',
                text: '',
                type: 'question',
                allowOutsideClick: false,
                showCancelButton: true,
                confirmButtonColor: '#93c47d',
                cancelButtonColor: '#ca5943',
                confirmButtonText: "确认",
                cancelButtonText: "取消"
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: '正在处理',
                        text: '',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    }).then((result) => {});
                    $.post("__ROOT__/index.php/api/Technician/delete_technician", {
                        job_number: [id]
                    }).done(function (result) {
                        if (result.status == 1) {
                            $(obj).parents("tr").remove();
                            swal("完成", "已删除项目", "success").then((ok) => {
                                if (ok.value) location.reload();
                            })
                        }
                    })
                }
            })
            /**layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '',
                    dataType: 'json',
                    success: function (data) {
                        layer.msg('', {
                            time: 1
                        });


                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });*/
        }

        /*删除-所有*/
        function datadel() {
            swal({
                title: '确认删除这些项吗？',
                text: '',
                type: 'question',
                allowOutsideClick: false,
                showCancelButton: true,
                confirmButtonColor: '#93c47d',
                cancelButtonColor: '#ca5943',
                confirmButtonText: "确认",
                cancelButtonText: "取消"
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: '正在处理',
                        text: '',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    }).then((result) => {});
                    numbers = [];
                    for (var i = 0; i < '{$count}'; i++) {
                        if ($("input:checkbox[name=" + (i + 1) + "]").is(":checked")) {
                            numbers.push($("input:checkbox[name=" + (i + 1) + "]").val());
                        }
                    }
                    $.post("__ROOT__/index.php/api/Technician/delete_technician", {
                        job_number: numbers
                    }).done(function (result) {
                        if (result.status == 1) {
                            swal({
                                title: '完成',
                                type: "success",
                                text: '已经删除所选项目',
                                allowOutsideClick: true,
                                showConfirmButton: true,
                                showCloseButton: false,
                                confirmButtonText: "确认"
                            }).then((ok) => {
                                if (ok.value) {

                                }
                            })
                        }
                    })

                }
            });
        }
        /**
         * 修复翻页box的代码
         */
        $('.table').on('draw.dt', function () {
            $('input.flat').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });
        });
        /**
         * 全选实现的代码
         * */
        $('#checkall').on('ifChecked', () => {
            $("input[type='checkbox']").iCheck('check');
        })
        $('#checkall').on('ifUnchecked', () => {
            $("input[type='checkbox']").iCheck('uncheck');
        })
    </script>
</body>

</html>